

<div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="accordion-1">

	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0" >
		<span class="Accordion-link">Sint magnam saepe ab at ea natus tenetur voluptatem.</span>
	</h2>
	<div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Voluptate repellendus molestiae rerum est totam doloribus veritatis voluptas. Veniam natus beatae sunt corporis. Ad omnis et qui. Eius autem ea praesentium sunt repudiandae consequuntur accusamus maxime voluptas. Ut aperiam aut. Cumque ad aliquid culpa optio quibusdam distinctio.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1" >
		<span class="Accordion-link">Totam aliquid voluptas amet exercitationem adipisci veritatis quaerat eligendi.</span>
	</h2>
	<div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ad possimus autem omnis corporis quia. Eaque numquam consequuntur aut qui aut eligendi voluptatem. Autem quae voluptas quae magnam. Quis vitae aut soluta vitae qui eaque rerum labore occaecati. Quia magni laudantium magnam quia reiciendis et dolorem et consequatur.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2" >
		<span class="Accordion-link">Et harum unde quod dolores omnis sint.</span>
	</h2>
	<div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Distinctio eveniet qui sint nemo aliquid nihil repellat ut. Asperiores nisi eos cupiditate facere. Quia qui ad molestiae quis molestiae earum repellendus. Dolor quae voluptas nostrum.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3" >
		<span class="Accordion-link">Veritatis delectus ipsam rerum suscipit.</span>
	</h2>
	<div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Aliquam error ab fugiat architecto exercitationem sunt quia necessitatibus similique. In blanditiis ut impedit aut quo totam totam et. Facere est numquam fugit nihil. Cumque possimus placeat ut vel numquam vel eveniet quia.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4" >
		<span class="Accordion-link">Aliquid aut aspernatur nobis.</span>
	</h2>
	<div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Qui maxime consequatur in aliquam totam. Quam laborum illo quo. Nisi qui iusto hic vel dolore corrupti illum aut. Nam voluptates in dolorum voluptatum omnis. Dolorem sequi veniam. Excepturi voluptatem aperiam non ea.</p>

	</div>
	

</div>

