

<div class="Prose Alert Alert-- Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
  <h2 class="u-text-h3">
    Non quia culpa quod reprehenderit temporibus et et sequi.
  </h2>
  <p class="u-text-p">Sint eaque ad. Voluptatem laboriosam id minima quia ipsam voluptas labore illo. Iure ipsam tempora fugiat maxime adipisci omnis rerum. Unde dolorum assumenda illum illum fugit vel quisquam sunt. Excepturi provident ut laudantium error architecto non voluptatum voluptate blanditiis.</p>
</div>

