

<div class="u-nbfc  u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="pariatur omnis assumenda" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">ut deleniti quisquam</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Eligendi aliquid adipisci molestias ea inventore ipsam asperiores dicta.</a></h3>
    <p class="u-text-p u-textSecondary">Accusamus consequatur placeat necessitatibus praesentium aut. Blanditiis dolores labore est ad illo sit. Sit molestias vero unde delectus.</p>
  </div>
</div>

