

<div class="u-nbfc  u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="eum sapiente cum" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">illum minima voluptatum</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">At est consequatur eius assumenda nulla ut qui earum nulla.</a></h3>
    <p class="u-text-p u-textSecondary">Odit est facere at nemo. Nostrum labore ipsam nobis voluptas eos corrupti. Exercitationem ipsam non. Non assumenda aut.</p>
  </div>
</div>

