

<section class="Grid u-padding-all-l">
  <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
    <div class="u-nbfc u-borderShadow-xxs u-color-grey-30 u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="ullam est totam" />
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l"><a class="u-color-50 u-textClean" href="">aut sunt dignissimos</a></p>
    <h3 class="u-text-h4 u-margin-r-bottom"><a class="u-text-r-m u-color-black u-textWeight-400 u-textClean"
        href="">Sit reprehenderit voluptas non nostrum.</a></h3>
    <p class="u-text-p u-textSecondary">Quia non qui. Voluptates nihil non sapiente. Blanditiis perferendis dolorum aut qui illum sit quos veniam officiis. Et reiciendis labore eveniet vel expedita rerum. Eos doloribus tempore fugit necessitatibus molestiae nemo. Voluptatum id suscipit dolor assumenda ratione.</p>
  </div>
</div>

  </div>
</section>

