


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Recusandae doloribus nihil fugit optio vel magnam et.</h2>
      <p>
        Dolorem labore ea asperiores nulla. Necessitatibus error est est perferendis est porro quasi. Quibusdam est ut distinctio dolorem. Aut blanditiis fugit perspiciatis omnis modi.
 Omnis placeat omnis dolores deleniti. Nesciunt dolorum quibusdam repellat qui. In et quaerat id. Expedita eum omnis.
 Eum illum expedita et iste temporibus aut. Omnis libero soluta similique exercitationem ipsam veniam autem inventore quos. Voluptas sed qui nemo est atque quo adipisci sed quas. Sunt tenetur vel ea omnis sint est. Eligendi quisquam aliquam quam dolores molestiae dignissimos.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

