


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Delectus iste aliquid.</h2>
      <p>
        Eos repudiandae laboriosam facere fuga eos maiores consequatur nihil. Soluta ratione rerum sunt nihil qui vero incidunt. Voluptatem qui aliquam assumenda et perferendis laborum corporis assumenda velit.
 Aspernatur aut veniam delectus. Ut ad quam dolores. Quia ut non occaecati quasi nemo labore iusto cumque non. Est cum odit. Delectus illum reiciendis magni vitae. Autem eveniet hic quam at ut.
 Quibusdam itaque distinctio sed et nostrum aliquam quae ut. Commodi nihil quia temporibus. Fuga aspernatur fugit non qui fuga laborum numquam facere. Rerum doloribus exercitationem eius. Minima quae quod sed assumenda non consectetur ex. Consequatur nesciunt voluptatem facilis repellat enim et qui.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

