


<button class="Button Button--default js-fr-dialogmodal-open" aria-controls="modal">
  Apri
</button>

<div class="Dialog js-fr-dialogmodal" id="modal">
  <div class="
      Dialog-content
      Dialog-content--centered
      u-background-white
      u-layout-prose
      u-margin-all-xl
      u-padding-all-xl
      js-fr-dialogmodal-modal
    "
    aria-labelledby="modal-title">
    <div role="document" class="Prose">
      <h2 class="u-cf u-text-h2 u-borderHideFocus" id="modal-title" tabindex="0">Quo magnam quaerat omnis dignissimos repellendus consequatur eveniet.</h2>
      <p>
        Repellendus iste ullam quam et aperiam voluptatem totam. Et velit vel et ad esse aut dolor consectetur. Dolorum corporis ratione quae saepe reiciendis ut ratione eos. Eum voluptates at similique ea eum aliquam voluptas magnam quia. Delectus nihil eaque molestiae odit mollitia itaque. Quasi deleniti praesentium.
 Et necessitatibus velit assumenda sunt beatae vel qui sequi eaque. Tempore qui tempora pariatur odio et voluptas itaque repudiandae. Similique eum tenetur beatae aspernatur. Sapiente quaerat minus quia dignissimos qui cupiditate. Repellat tempore sunt aperiam quaerat nesciunt dignissimos est. Aut aut velit voluptates rerum ut non cumque.
 Ea aliquid reiciendis fugit magnam in nihil iste. Ab quam eligendi sed necessitatibus ullam facilis. Deleniti ducimus omnis id ipsa repudiandae excepturi harum delectus. In sapiente impedit corrupti sit accusamus neque porro eligendi. Similique ipsam dolores quia voluptatem voluptatem est incidunt cupiditate et.
      </p>
      <button class="Button Button--danger js-fr-dialogmodal-close u-floatRight">Chiudi</button>
    </div>
  </div>
</div>

