

<div class="u-textLeft">
  <a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
  <div id="options" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">At est consequatur eius assumenda nulla ut qui earum nulla.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ducimus ab non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut et officiis voluptatem et sed inventore sit tenetur minima.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Inventore est molestias qui consequatur sint maxime sequi consectetur.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textRight">
  <a href="#options-2" data-menu-trigger="options-2" class="Button Button--info">Menu</a>
  <div id="options-2" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">At est consequatur eius assumenda nulla ut qui earum nulla.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ducimus ab non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut et officiis voluptatem et sed inventore sit tenetur minima.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Inventore est molestias qui consequatur sint maxime sequi consectetur.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textCenter">
  <a href="#options-3" data-menu-trigger="options-3" class="Button Button--info">Menu</a>
  <div id="options-3" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">At est consequatur eius assumenda nulla ut qui earum nulla.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ducimus ab non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ut et officiis voluptatem et sed inventore sit tenetur minima.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Inventore est molestias qui consequatur sint maxime sequi consectetur.</a></li>
      
    </ul>
  </div>
</div>

