

<div class="u-textLeft">
  <a href="#options" data-menu-trigger="options" class="Button Button--info">Menu</a>
  <div id="options" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Vel voluptatem eius repellat autem sapiente cum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorem id voluptas adipisci et id tempora.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textRight">
  <a href="#options-2" data-menu-trigger="options-2" class="Button Button--info">Menu</a>
  <div id="options-2" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Vel voluptatem eius repellat autem sapiente cum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorem id voluptas adipisci et id tempora.</a></li>
      
    </ul>
  </div>
</div>

<div class="u-textCenter">
  <a href="#options-3" data-menu-trigger="options-3" class="Button Button--info">Menu</a>
  <div id="options-3" data-menu class="Dropdown-menu u-borderShadow-m u-background-white">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      <li><a href="#" class="u-color-50 u-padding-r-all">Vel voluptatem eius repellat autem sapiente cum.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="#" class="u-color-50 u-padding-r-all">Dolorem id voluptas adipisci et id tempora.</a></li>
      
    </ul>
  </div>
</div>

