

<article>
  <h1 class="u-text-h1">Magni itaque debitis occaecati et hic earum et qui sint.</h1>

  <h2 class="u-text-h2">Magni itaque debitis occaecati et hic earum et qui sint.</h2>

  <h3 class="u-text-h3">Magni itaque debitis occaecati et hic earum et qui sint.</h3>

  <h4 class="u-text-h4">Magni itaque debitis occaecati et hic earum et qui sint.</h4>

  <h5 class="u-text-h5">Magni itaque debitis occaecati et hic earum et qui sint.</h5>

  <h6 class="u-text-h6">Magni itaque debitis occaecati et hic earum et qui sint.</h6>

</article>

