

<article>
  <h1 class="u-text-h1">Sint dolor aut a fuga praesentium illo incidunt aut non.</h1>

  <h2 class="u-text-h2">Sint dolor aut a fuga praesentium illo incidunt aut non.</h2>

  <h3 class="u-text-h3">Sint dolor aut a fuga praesentium illo incidunt aut non.</h3>

  <h4 class="u-text-h4">Sint dolor aut a fuga praesentium illo incidunt aut non.</h4>

  <h5 class="u-text-h5">Sint dolor aut a fuga praesentium illo incidunt aut non.</h5>

  <h6 class="u-text-h6">Sint dolor aut a fuga praesentium illo incidunt aut non.</h6>

</article>

