

<article>
  <h1 class="u-text-h1">Natus modi praesentium nobis maiores quo a voluptas.</h1>

  <h2 class="u-text-h2">Natus modi praesentium nobis maiores quo a voluptas.</h2>

  <h3 class="u-text-h3">Natus modi praesentium nobis maiores quo a voluptas.</h3>

  <h4 class="u-text-h4">Natus modi praesentium nobis maiores quo a voluptas.</h4>

  <h5 class="u-text-h5">Natus modi praesentium nobis maiores quo a voluptas.</h5>

  <h6 class="u-text-h6">Natus modi praesentium nobis maiores quo a voluptas.</h6>

</article>

