

<article>
  <h1 class="u-text-h1">Sint magnam saepe ab at ea natus tenetur voluptatem.</h1>

  <h2 class="u-text-h2">Sint magnam saepe ab at ea natus tenetur voluptatem.</h2>

  <h3 class="u-text-h3">Sint magnam saepe ab at ea natus tenetur voluptatem.</h3>

  <h4 class="u-text-h4">Sint magnam saepe ab at ea natus tenetur voluptatem.</h4>

  <h5 class="u-text-h5">Sint magnam saepe ab at ea natus tenetur voluptatem.</h5>

  <h6 class="u-text-h6">Sint magnam saepe ab at ea natus tenetur voluptatem.</h6>

</article>

