

<section>
  <div class="Hero">
    <div class="Hero-content">
      <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
        <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
      </p>
      <h2 class="u-text-h2"><a href="#" class="u-color-95 u-textClean">quia ipsa debitis</a></h2>
      <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Hic quis quod recusandae consequatur est dolore reiciendis consequuntur id. Qui deserunt modi placeat dolorum et exercitationem incidunt. Voluptatem id dolor vel nam dolore ut dolores. Accusantium error voluptas reprehenderit quia. Et sed delectus ad eos magni omnis rerum est.</p>
      <a href="#news" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">quo dolores sed
        <span class="u-padding-r-left Icon Icon-expand"></span></a>
    </div>
    <a href="#servizi" class="Forward Forward--absolute js-scrollTo" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>
  </div>
</section>

