

<section>
  <div class="Hero">
    <div class="Hero-content">
      <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
        <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
      </p>
      <h2 class="u-text-h2"><a href="#" class="u-color-95 u-textClean">similique officia illum</a></h2>
      <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Expedita et saepe beatae. Maiores ut accusantium pariatur quod eos. Et cumque iure deserunt assumenda est tempore nisi. Expedita nobis dolores aut tempora ut rerum voluptas expedita quia.</p>
      <a href="#news" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">alias placeat est
        <span class="u-padding-r-left Icon Icon-expand"></span></a>
    </div>
    <a href="#servizi" class="Forward Forward--absolute js-scrollTo" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>
  </div>
</section>

