

<section>
  <div class="Hero">
    <div class="Hero-content">
      <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
        <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
      </p>
      <h2 class="u-text-h2"><a href="#" class="u-color-95 u-textClean">eum tempore et</a></h2>
      <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Ad possimus autem omnis corporis quia. Eaque numquam consequuntur aut qui aut eligendi voluptatem. Autem quae voluptas quae magnam. Quis vitae aut soluta vitae qui eaque rerum labore occaecati. Quia magni laudantium magnam quia reiciendis et dolorem et consequatur.</p>
      <a href="#news" class="js-scrollTo u-linkClean Button Button--info u-text-r-xs">consequatur ducimus beatae
        <span class="u-padding-r-left Icon Icon-expand"></span></a>
    </div>
    <a href="#servizi" class="Forward Forward--absolute js-scrollTo" aria-hidden="true">
      <span class="Icon Icon-expand"></span>
    </a>
  </div>
</section>

