

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">soluta commodi et</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Distinctio aspernatur officiis placeat quos repellat ipsam voluptatem quia. Distinctio sit aut hic id quas reprehenderit. Sed et natus sit amet. Adipisci sint corporis odio saepe asperiores voluptas eum sunt. Ea deleniti iste nesciunt.</p>
      <button class="Button Button--default u-text-r-xs">soluta commodi et</button>
  </div>
</section>

