

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">exercitationem modi et</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Doloremque ipsa et rerum et neque optio assumenda vel. Dolorem sit voluptatibus voluptas. Quos asperiores libero sed. Recusandae molestiae et itaque commodi odit impedit. Officiis vel pariatur voluptas eaque sit.</p>
      <button class="Button Button--default u-text-r-xs">exercitationem modi et</button>
  </div>
</section>

