

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">qui quis est</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Quae minima et ipsa autem molestias expedita id autem. Rerum consequatur qui. Ut similique voluptatum aliquid delectus est et. Ea aut quasi cumque non aut ut. Natus quasi velit consectetur. Nisi consequatur eum et.</p>
      <button class="Button Button--default u-text-r-xs">qui quis est</button>
  </div>
</section>

