

<section class="Hero">
  <div class="Hero-content">
    <p class="u-padding-r-bottom u-padding-r-top u-text-r-xs">
      <a href="#" class="u-textClean u-color-60 u-text-h4"><span class="Dot u-background-60"></span>categoria</a>
    </p>
    <h2 class="u-text-h2 u-color-95">in officiis temporibus</h2>
    <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">Sed voluptatem deserunt doloribus aut. Molestias mollitia placeat laboriosam quia. Soluta architecto qui. Ipsa amet aliquid hic tenetur sed et dolores est labore. Quia et officiis illo sunt voluptate soluta. Quaerat ipsum recusandae veritatis perspiciatis temporibus facere alias.</p>
      <button class="Button Button--default u-text-r-xs">in officiis temporibus</button>
  </div>
</section>

