

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h1 class="u-text-h2">
      Titolo della sezione
    </h1>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Dolorem labore ea asperiores nulla. Necessitatibus error est est perferendis est porro quasi. Quibusdam est ut distinctio dolorem. Aut blanditiis fugit perspiciatis omnis modi.
 Omnis placeat omnis dolores deleniti. Nesciunt dolorum quibusdam repellat qui. In et quaerat id. Expedita eum omnis.
 Eum illum expedita et iste temporibus aut. Omnis libero soluta similique exercitationem ipsam veniam autem inventore quos. Voluptas sed qui nemo est atque quo adipisci sed quas. Sunt tenetur vel ea omnis sint est. Eligendi quisquam aliquam quam dolores molestiae dignissimos.
          </p>
          <p>
            Quos eum incidunt voluptates qui omnis ratione minus minima omnis. Deserunt atque est ratione voluptas sunt rerum alias similique. Ducimus sed velit dolorem.
 Minus iure nulla qui expedita fugit voluptatem consequatur fuga. Enim dolor ipsam. Sit alias labore dolorem. Amet ut et tempora ut et.
 Molestiae ad id possimus. Qui voluptas ut quo aut. Ea quia cupiditate laborum.
          </p>
          <p>
            Possimus aspernatur repudiandae harum veniam aspernatur. Deserunt sint rerum necessitatibus consequuntur omnis nulla sed est est. Consequatur enim voluptatem cupiditate dicta. Fugit nulla qui libero itaque exercitationem totam expedita. Cumque odio nihil voluptates ut.
 Laboriosam sunt consequatur et est. Quia tenetur soluta corrupti sit assumenda numquam et nobis temporibus. Eum sed ea molestiae. Amet architecto dignissimos aut nemo quia velit distinctio eaque et. Ut repellat quae perferendis quas. Eveniet qui ut a inventore omnis assumenda quo.
 Pariatur quidem nemo est. Magni sed asperiores sed. Sunt consequatur voluptatem. Repellendus eum consequatur eum officiis iusto qui nobis asperiores doloribus. Magni vel sed.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <div class="Share-reveal js-Share">
    <a href="#share-options" class="Share-revealText" data-menu-trigger="share-options" data-menu-inline>
      <span class="Share-revealIcon Icon Icon-share"></span>
      Condividi
    </a>
  </div>
  <ul id="share-options" class="Dropdown-menu" data-menu>
    <li><a href="#" title=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span><span class="u-hiddenVisually">Google Plus</span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span><span class="u-hiddenVisually">Flickr</span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span><span class="u-hiddenVisually">Slideshare</span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span><span class="u-hiddenVisually">Whatsapp</span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Eaque voluptatem incidunt vero cumque suscipit.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Recusandae doloribus nihil fugit optio vel magnam et.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Est officia tempore omnis.</a></li>
      <li><a href="">Aut vel aut.</a></li>
      <li><a href="">Consequuntur reiciendis repellendus blanditiis velit nostrum facere eos reiciendis deleniti.</a></li>
      <li><a href="">Inventore quasi tenetur quo dolores neque soluta temporibus.</a></li>
    </ul>
  </li>
  <li><a href="">Enim delectus ut maiores deserunt corporis.</a></li>
  <li><a href="">Asperiores adipisci minus.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Itaque quam est deleniti sed voluptates quasi est.</a></li>
  <li><a href="">Qui quis harum et et.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

