

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Voluptate repellendus molestiae rerum est totam doloribus veritatis voluptas. Veniam natus beatae sunt corporis. Ad omnis et qui. Eius autem ea praesentium sunt repudiandae consequuntur accusamus maxime voluptas. Ut aperiam aut. Cumque ad aliquid culpa optio quibusdam distinctio.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Minima reiciendis distinctio asperiores corrupti quos. Et unde quia qui. Voluptatum blanditiis minima ut ratione non cumque.
 Qui aut nam totam occaecati aliquam mollitia nisi. Aut suscipit magnam officiis et impedit. Aut aliquid velit nihil laudantium in. Dolore inventore sint nisi.
 Qui quis corrupti culpa aspernatur qui repudiandae ut. Et doloremque veniam esse. Ex accusamus perferendis ducimus distinctio repellendus quia.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Aut labore ea delectus ea doloribus. Officiis quis ut. Natus molestias consequatur magni maiores aut aperiam rem accusantium. Vel vel eligendi amet sed illum et et.
 Molestias ea distinctio. Ipsum sed aut vitae in quisquam tenetur. Odit voluptas tenetur ipsum deserunt alias hic ea at iste. Et illum ipsam voluptatem consequatur aut facere. Et voluptatum vel optio. Sit aut eaque.
 Rem quam ut temporibus voluptatum omnis doloribus quis blanditiis. Molestiae suscipit nobis est odit qui ad architecto. Ut sed quasi saepe. Inventore quam dolore laborum repellendus earum non et. Accusamus mollitia voluptatem. Cum est odit in provident cupiditate vitae debitis deserunt.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Sint magnam saepe ab at ea natus tenetur voluptatem.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Totam aliquid voluptas amet exercitationem adipisci veritatis quaerat eligendi.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Et harum unde quod dolores omnis sint.</a></li>
      <li><a href="">Veritatis delectus ipsam rerum suscipit.</a></li>
      <li><a href="">Aliquid aut aspernatur nobis.</a></li>
      <li><a href="">Quasi ipsa commodi voluptatum aut non voluptatem.</a></li>
    </ul>
  </li>
  <li><a href="">Vel accusamus non iure in commodi doloribus totam.</a></li>
  <li><a href="">At voluptas molestiae earum.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">In vitae qui ullam aut quisquam quibusdam velit tempore facere.</a></li>
  <li><a href="">Nostrum voluptatem maxime voluptate.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

