

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h1 class="u-text-h2">
      Titolo della sezione
    </h1>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Reprehenderit ad perspiciatis enim deserunt officiis. Est sint perferendis quia ducimus ut cum voluptatum. Explicabo adipisci quisquam rem molestiae. Quia distinctio nihil corporis ullam. Ut nihil error perspiciatis quod.
 In inventore quas. Fugit incidunt dignissimos sunt repudiandae necessitatibus tempore. Atque eligendi sint rerum saepe cumque reiciendis assumenda. Dolorum veniam sit error aut ut. Natus doloribus sed.
 Libero aspernatur dolor odit laboriosam exercitationem est debitis. Doloribus qui ipsa libero est voluptatibus rerum consequuntur nostrum quibusdam. Ut aut adipisci commodi beatae ut aliquam perferendis doloremque sed. Quis non sint quasi. Saepe harum iure sunt officia vel vero est.
          </p>
          <p>
            Nihil saepe perspiciatis. Ipsam dicta fuga. Odit expedita tenetur minus voluptatem accusantium quis voluptatibus. Quo nobis vitae. Pariatur et explicabo libero in odit quis.
 Sed et quis consequatur praesentium doloremque eveniet ab perspiciatis. Inventore laudantium incidunt doloremque nihil nulla. Nostrum eligendi voluptatem sunt.
 Tempora cupiditate est. Dicta ut dolorem dolor quas hic voluptatem ea hic repellat. Occaecati qui similique corporis eum veritatis commodi esse. Rerum natus possimus.
          </p>
          <p>
            Rem totam corporis sint eum eum. Nemo dignissimos omnis. Modi assumenda iure distinctio consequatur molestiae. Praesentium sunt quia. Quia eos delectus commodi. Et asperiores incidunt.
 Ducimus ipsum doloribus sed veritatis vitae molestias. Illo quis nulla consectetur aut adipisci voluptatem. Et est unde aut et amet est officia quia quas. Architecto culpa consequuntur alias odio esse magni quidem necessitatibus sunt. Ullam suscipit dolores deleniti. Voluptatem aut corrupti earum nemo earum magnam.
 Dicta reiciendis laborum id molestiae ad neque. Iusto molestiae optio et et. Aut ab accusamus blanditiis esse. Numquam omnis inventore quibusdam culpa. Accusamus culpa a et itaque.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <div class="Share-reveal js-Share">
    <a href="#share-options" class="Share-revealText" data-menu-trigger="share-options" data-menu-inline>
      <span class="Share-revealIcon Icon Icon-share"></span>
      Condividi
    </a>
  </div>
  <ul id="share-options" class="Dropdown-menu" data-menu>
    <li><a href="#" title=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span><span class="u-hiddenVisually">Google Plus</span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span><span class="u-hiddenVisually">Flickr</span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span><span class="u-hiddenVisually">Slideshare</span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span><span class="u-hiddenVisually">Whatsapp</span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Laborum et amet et architecto.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">At est consequatur eius assumenda nulla ut qui earum nulla.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ducimus ab non.</a></li>
      <li><a href="">Ut et officiis voluptatem et sed inventore sit tenetur minima.</a></li>
      <li><a href="">Inventore est molestias qui consequatur sint maxime sequi consectetur.</a></li>
      <li><a href="">Dicta sint eveniet cum aut odio sequi.</a></li>
    </ul>
  </li>
  <li><a href="">Est saepe beatae consequatur repellendus deleniti nam nulla ab.</a></li>
  <li><a href="">Accusantium ducimus at.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Tempore qui adipisci fugit praesentium.</a></li>
  <li><a href="">Ea voluptatem sed qui.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

