

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">Esplora contenuti correlati</a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
      <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">
    <h1 class="u-text-h2">
      Titolo della sezione
    </h1>
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Quam odit rerum ea accusantium autem enim. Ex modi eius qui et voluptas nobis. Odit mollitia non rerum ut culpa et officiis. Quam numquam qui iste voluptatum sint. Iusto repellendus assumenda sed quisquam amet ipsam.
 Distinctio libero ipsa temporibus eos atque atque nulla facere. Exercitationem dolor aut aut inventore et quaerat numquam soluta. Ea in facilis. Doloribus incidunt asperiores totam id. Rerum vitae unde sunt nam ea autem beatae non explicabo. Et labore sint possimus.
 Molestias qui possimus sit quidem officia vitae earum ut et. Velit inventore aut non est inventore. Eligendi qui maxime vitae nobis et perspiciatis fugiat architecto mollitia. Voluptatem aspernatur laborum nulla odit eveniet ex laborum sit. Eos officia nihil quis nam.
          </p>
          <p>
            Ratione est et unde voluptates. Rerum velit vero ratione unde nulla eos. Mollitia qui quasi quidem rerum omnis quis. Facilis esse corrupti aspernatur et.
 Animi consequatur qui. Accusantium quis accusamus odit fugiat neque nihil sequi iure. Sed est quia ea voluptatem qui quo. Asperiores expedita rerum tempore est accusantium et adipisci voluptatem qui.
 Voluptatem autem dolores eligendi odio quas facilis eos dolorum ut. Saepe ea et. Non saepe totam. Odit ad fuga odio quidem inventore. Beatae voluptates quo ad autem numquam molestiae ab vitae est. Consectetur ut iusto eveniet praesentium et odio omnis blanditiis qui.
          </p>
          <p>
            Et delectus quasi ducimus. Voluptatem inventore et eum maiores corporis cum. Adipisci cumque molestiae quidem ut.
 Tempore et est sit optio ratione. Maiores aut beatae dignissimos quis maxime eum vel nam doloremque. Nostrum impedit ipsum fugiat dolores est architecto possimus nobis natus.
 Laborum quo magnam. Eos at in aspernatur sapiente et. Officia non maiores laborum exercitationem. Culpa illo in ullam pariatur sed. Nisi vero laudantium eveniet.
          </p>
        </article>
      </div>
      <div class="Grid-cell u-sizeFull u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl">
          <div class="Share">
  <div class="Share-reveal js-Share">
    <a href="#share-options" class="Share-revealText" data-menu-trigger="share-options" data-menu-inline>
      <span class="Share-revealIcon Icon Icon-share"></span>
      Condividi
    </a>
  </div>
  <ul id="share-options" class="Dropdown-menu" data-menu>
    <li><a href="#" title=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
    <li><a href="#"><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
    <li><a href="#"><span class="Icon Icon-googleplus"></span><span class="u-hiddenVisually">Google Plus</span></a></li>
    <li><a href="#"><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
    <li><a href="#"><span class="Icon Icon-flickr"></span><span class="u-hiddenVisually">Flickr</span></a></li>
    <li><a href="#"><span class="Icon Icon-slideshare"></span><span class="u-hiddenVisually">Slideshare</span></a></li>
    <li><a href="#"><span class="Icon Icon-whatsapp"></span><span class="u-hiddenVisually">Whatsapp</span></a></li>
  </ul>
</div>

        </div>
        <div class="u-sizeFull u-md-size11of12 u-lg-size11of12" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Non quia culpa quod reprehenderit temporibus et et sequi.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Vel voluptatem eius repellat autem sapiente cum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="">Dolorem id voluptas adipisci et id tempora.</a></li>
      <li><a href="">Et quas laudantium sed dolores reiciendis rerum ut.</a></li>
    </ul>
  </li>
  <li><a href="">Dolorum ad odit itaque quos perferendis dolores natus sint.</a></li>
  <li><a href="">Non animi doloribus harum neque quod.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Architecto dolore aut corrupti repudiandae voluptas.</a></li>
  <li><a href="">Eum ut fugit non unde pariatur maxime cum quis pariatur.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </div>
    </div>
  </div>
</section>

