

<div class="u-layout-centerContent u-background-grey-20 u-padding-bottom-xxl u-padding-top-xxl">
  <section class="u-layout-medium">
    <div class="u-layout-centerLeft">
      <h2 class="u-text-r-l">Gallerie</h2>
    </div>
    <div class="Grid Grid--withGutter u-padding-r-top u-text-r-xxl">
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Nesciunt quaerat ut nostrum.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Autem consequuntur et non qui nostrum quia et.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Iusto aut nihil omnis quidem nisi ut ea.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Omnis et ab repellat eligendi iure quod illum atque animi.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Dicta commodi adipisci qui impedit vitae est.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Aspernatur quidem eum.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Unde iusto ipsa sunt quaerat.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Omnis perferendis incidunt voluptatem numquam.
      </a>
    </h3>
  </div>
</section>

      </div>
      
      <div class="Grid-cell usizefull u-md-size1of3 u-lg-size1of3 u-text-r-m u-margin-r-bottom u-layout-matchHeight">
        <section class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-30 u-background-white">
  <figure class="u-background-grey-60 u-padding-all-s">
    <a href="#" class="u-borderFocus u-block u-padding-all-xxs">
      <img src="//placehold.it/370x205?text=" class="u-sizeFull" />
    </a>
    <figcaption class="u-padding-r-top">
      <span class="Icon Icon-camera u-color-white u-floatRight u-text-r-l" aria-hidden="true"></span>
      <p class="u-color-teal-50 u-text-r-xxs u-textWeight-700 u-padding-bottom-xs">Foto</p>
      <p class="u-color-white u-text-r-xxs">13 ottobre 2016</p>
    </figcaption>
  </figure>
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <h3 class="u-text-h4 u-margin-r-bottom">
      <a class="u-textClean u-color-black u-textWeight-400 u-text-r-m" href="">
        Neque et dolor et ut aut.
      </a>
    </h3>
  </div>
</section>

      </div>
      
    </div>
  </section>
</div>

