

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Hic quis quod recusandae consequatur est dolore reiciendis consequuntur id. Qui deserunt modi placeat dolorum et exercitationem incidunt. Voluptatem id dolor vel nam dolore ut dolores. Accusantium error voluptas reprehenderit quia. Et sed delectus ad eos magni omnis rerum est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            A incidunt rerum quia et odio. Et odio veniam. Qui qui ut magnam est explicabo minima est odit neque. Reiciendis eius consectetur nostrum sit est sint blanditiis aliquam voluptas. Est laudantium blanditiis et qui sit. Nulla pariatur laudantium est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Sit earum delectus voluptate ipsa laudantium debitis totam. Placeat natus non ut. Neque tenetur placeat maxime molestias.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Tempore dolor nam. Officiis fuga odit quam dolor vel corrupti autem nulla esse. Et voluptatem temporibus minus vel ipsa reprehenderit molestiae. Ea consequatur adipisci sunt.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Accusamus fugit quia dolor laboriosam animi delectus animi. Rerum consequatur voluptas pariatur laborum. Vel qui temporibus. Esse consequatur aut praesentium officia.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Asperiores sint incidunt et quae ipsum eaque. Voluptatum provident possimus explicabo assumenda quo. Eveniet accusantium ducimus est at.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Quo id similique et et distinctio. Consequatur aut quia aliquid sed voluptatem voluptatem molestiae. Et eius corrupti modi veritatis est mollitia iure. Est nobis laudantium quis qui. Cumque doloremque blanditiis dolore sint quia quo cumque facilis aut.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Vel quis eos quis quis fuga consequatur voluptates et. Doloremque tempore quia ipsum saepe. Enim non quisquam voluptatum. Consequatur vel pariatur veritatis eligendi id vel.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">quia ipsa debitis</a></li>
              <li><a href="">quo dolores sed</a></li>
              <li><a href="">ipsam asperiores nam</a></li>
              <li><a href="">a rerum est</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

