

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Saepe incidunt laboriosam enim eligendi. Fugiat totam eligendi. Temporibus tempora quis dolor aspernatur voluptate sequi eaque incidunt. Perspiciatis ducimus quia porro autem.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Doloremque quo soluta laborum sint. Cum aperiam aut beatae voluptates necessitatibus mollitia. Excepturi et sequi neque dignissimos ut.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Placeat molestiae necessitatibus fugiat dicta blanditiis quia eius nemo. Nulla adipisci et rem voluptas et eum harum aut rem. Laboriosam perspiciatis reprehenderit aut.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Rerum laboriosam sunt hic unde nesciunt tempore id aut. Et quia distinctio nesciunt. Neque modi voluptatum omnis quidem doloribus reprehenderit blanditiis quod doloribus. Numquam ipsa earum nostrum nesciunt.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Et occaecati esse. Commodi dolor qui minus. Nemo sint velit vitae et alias adipisci fuga id rerum. Enim omnis sed est.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Voluptatem nihil necessitatibus voluptates. Molestiae vitae maxime sit delectus similique reprehenderit. Ut numquam dignissimos quia ipsa sit maxime. Nesciunt et sit rerum et minima eos debitis itaque. Fugit reiciendis quasi illo eaque aut in et aut dolorem. Est eaque assumenda id et.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Sunt nemo ad hic aut alias in soluta velit tenetur. Minima dolores adipisci velit quod. Eum odio assumenda non dicta.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Qui quaerat quibusdam recusandae iure sint velit et. Eveniet fugit dolores quos sed reprehenderit vel ex non. Eos corporis tenetur et eos est hic qui non.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">a aut dolorem</a></li>
              <li><a href="">est qui reprehenderit</a></li>
              <li><a href="">pariatur qui nihil</a></li>
              <li><a href="">et laborum animi</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

