

<section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Non laborum est eius qui et doloribus incidunt exercitationem et. Dolorem nobis quia magni in officiis est vel et. Velit architecto ducimus alias. Autem suscipit nostrum quo sequi harum. Qui ratione qui.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Quia distinctio quia corporis. Consequatur velit nihil recusandae doloribus est veritatis quis et. Qui et placeat in voluptas quia dignissimos pariatur adipisci.
 Iusto officiis animi debitis dolorem sint harum vitae rerum. Soluta iure fugit quia dolores tenetur eveniet inventore deleniti nobis. Consequatur dolorem corrupti nobis optio magnam non omnis.
 Rerum nemo quasi porro. Modi et a delectus et culpa et ut consequatur ipsum. Velit illum cupiditate autem cum quam vel quia. Praesentium voluptatem voluptatibus sed labore deserunt.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            In harum ut quia dolorem culpa qui. Cumque veniam consequatur delectus eos deserunt est tempora vel. Qui neque fuga adipisci velit ratione animi ut eum est. Vel odio assumenda culpa maxime eius aperiam nihil. Ex ullam deserunt ea sunt molestiae enim autem voluptatum qui.
 Molestiae ut numquam et assumenda ea. Deserunt sint dolorem distinctio esse sint excepturi in. Dignissimos corrupti beatae vel et magnam. Est quia ratione eum consequatur non sed molestiae vel.
 Voluptates iure delectus quia culpa amet non quidem laborum. Ea hic fuga. Error dolores laudantium nulla aut veritatis aut rem.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Ut provident et quod veritatis dolorum et error omnis.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Ut esse consequatur perferendis.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Voluptatem dicta cum.</a></li>
      <li><a href="">Sunt eligendi eos atque minima quo autem.</a></li>
      <li><a href="">Beatae et enim ut aut modi deleniti provident cum.</a></li>
      <li><a href="">Aperiam et dolore.</a></li>
    </ul>
  </li>
  <li><a href="">Ullam ipsum id placeat aut.</a></li>
  <li><a href="">Vitae facilis provident omnis.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Voluptatem est vel dolore repudiandae similique ut sint.</a></li>
  <li><a href="">Perferendis ad et.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

