

<div class="u-layout-centerContent u-background-grey-20 u-padding-r-bottom">
  <section class="u-layout-wide">
    <h2 class="u-padding-r-bottom u-padding-r-top u-text-r-l">Expedita a minus</h2>

    <div class="Grid Grid--withGutter">

      <div class="Grid-cell u-nbfc u-md-size3of4 u-lg-size3of4">

        <div class="Grid u-layout-centerContent">
          <div class="Grid-cell u-sizeFit">
            <img src="//placehold.it/330x330?text=placeholder" class="u-sizeFit" alt="..." />
          </div>
          <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
            <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut esse consequatur perferendis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Non laborum est eius qui et doloribus incidunt exercitationem et. Dolorem nobis quia magni in officiis est vel et. Velit architecto ducimus alias. Autem suscipit nostrum quo sequi harum. Qui ratione qui.
  </p>
</div>

          </div>
        </div>
      </div>

      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut provident et quod veritatis dolorum et error omnis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Sequi et ut sit aut. Ipsa sit eos ut placeat debitis. Sequi sint quas voluptas repellendus error. Et delectus sed aliquam. Dolor molestiae velit sint.
  </p>
</div>

      </div>

      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut provident et quod veritatis dolorum et error omnis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Necessitatibus eveniet autem eligendi mollitia illo porro. Distinctio dolores quaerat repellat quia quasi voluptatem. Enim consequatur similique quas ullam est ratione exercitationem animi laboriosam. Consequatur commodi omnis adipisci dicta earum exercitationem quas facilis. Rerum minus et. Eos voluptatem natus vel aperiam vitae aspernatur.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut provident et quod veritatis dolorum et error omnis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Consequatur optio tempora quod non numquam et recusandae. Cupiditate dolorem beatae. Et maiores explicabo illum ducimus nostrum est voluptas recusandae repellendus. Odio maiores itaque alias blanditiis omnis soluta iusto repudiandae. Ex non impedit. Iusto porro quia odit sit earum ut saepe ut tempora.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut provident et quod veritatis dolorum et error omnis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Eius veritatis odio totam. Eos suscipit eum ut voluptas labore ad est. Consequuntur id ratione voluptatem ab atque recusandae. Id quidem possimus sequi praesentium vero non ullam alias.
  </p>
</div>

      </div>
      
      <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
        <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
  <p class="u-padding-r-bottom">
    <span class="Dot u-background-70"></span>
    <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">categoria</a>
    <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">12 Maggio 2016</span>
  </p>
  <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
    Ut provident et quod veritatis dolorum et error omnis.
    </a>
  </h3>
  <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
    Dolores quod molestiae. Sint itaque repellat. Tenetur ut ea occaecati quam. Non minima enim itaque. Est eius amet.
  </p>
</div>

      </div>
      
    </div>

    <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
      <a href="#" class="u-color-50 u-textClean u-text-h4">
          tutti i contenuti <span class="Icon Icon-chevron-right"></a>
    </p>

  </section>
</div>

