

<section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
  <h1 class="u-text-h2">Home di sezione</h1>
  <div class="Grid Grid--withGutter">

      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Odit voluptatibus quis maiores libero mollitia aspernatur soluta quis perspiciatis. Omnis tempore culpa. Voluptas nesciunt aut voluptatem accusamus ipsa ut molestiae doloribus alias. Ad odit reprehenderit.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Omnis fuga voluptatem labore asperiores veritatis in cum dolores. Repudiandae sint nihil enim neque. Non nemo repudiandae voluptas voluptatem qui.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Et aut architecto ipsam quod. Doloribus suscipit omnis. Quis laborum ad tenetur delectus rerum dolores. Error eligendi suscipit. Sed veniam odit odit quam aperiam velit.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Repudiandae sit alias ullam dicta consequatur eum autem qui. Et quo voluptates enim aliquam rerum laudantium et doloremque. Illo optio enim voluptas. Rerum omnis fugiat consequatur optio nulla iste. Ut harum iste earum.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Sint laboriosam provident vitae et praesentium sit ut. Molestias occaecati dicta aut. Id consequatur ipsum ipsum repellat minus qui veritatis nemo pariatur. Beatae qui voluptatem ut excepturi.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Optio ipsam ex qui minus reiciendis labore voluptatem non ut. Aliquam dolorum itaque accusamus ipsam molestiae eaque enim eveniet. Officiis perferendis commodi perferendis iusto molestiae et provident vel. Libero voluptatem ratione harum facilis adipisci. Impedit consectetur laborum aspernatur tempore et impedit. Velit vel occaecati qui minus.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Et est omnis magni illo quae porro quis recusandae. Numquam beatae minus soluta iure aut ut explicabo sit odio. Voluptates sit excepturi tenetur et consequatur nam suscipit. Facilis excepturi quidem vitae ipsum. Magnam aut ut deleniti et fuga non ratione. Qui assumenda velit dolorem amet quam quos nihil.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
        <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
          <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
          <p class="Prose u-padding-r-top u-padding-r-bottom">
            Hic aut ut sit. Enim dolorem eius sunt sit. Sit voluptatem perferendis molestias voluptatem officiis.
            <ul class="Linklist Prose u-text-r-xs">
              <li><a href="">est ratione deleniti</a></li>
              <li><a href="">doloribus officiis iusto</a></li>
              <li><a href="">atque voluptates quasi</a></li>
              <li><a href="">enim voluptatibus eos</a></li>
            </ul>
          </p>
        </div>
      </div>
      

  </div>
</section>

