

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Laborum et amet et architecto.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">At est consequatur eius assumenda nulla ut qui earum nulla.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ducimus ab non.</a></li>
      <li><a href="">Ut et officiis voluptatem et sed inventore sit tenetur minima.</a></li>
      <li><a href="">Inventore est molestias qui consequatur sint maxime sequi consectetur.</a></li>
      <li><a href="">Dicta sint eveniet cum aut odio sequi.</a></li>
    </ul>
  </li>
  <li><a href="">Est saepe beatae consequatur repellendus deleniti nam nulla ab.</a></li>
  <li><a href="">Accusantium ducimus at.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Tempore qui adipisci fugit praesentium.</a></li>
  <li><a href="">Ea voluptatem sed qui.</a></li>
</ul>

