

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Magni itaque debitis occaecati et hic earum et qui sint.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Consequatur expedita culpa voluptatem molestiae.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Exercitationem facilis voluptas et aut dolor atque.</a></li>
      <li><a href="">Et quasi tempora impedit.</a></li>
      <li><a href="">Velit numquam nulla et sequi assumenda temporibus qui.</a></li>
      <li><a href="">Dolore eum aliquam cumque exercitationem.</a></li>
    </ul>
  </li>
  <li><a href="">Repudiandae et voluptatem soluta culpa enim vel ut omnis aliquid.</a></li>
  <li><a href="">Aut maiores hic aut vel nisi amet dolorem.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Dolorem aut minus ea eum ut quis consequatur maiores qui.</a></li>
  <li><a href="">Accusantium impedit non eum molestias praesentium ullam.</a></li>
</ul>

