

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Doloremque omnis consequatur eum facilis distinctio quia saepe exercitationem quo.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Animi quo error quo aut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ea sed iste.</a></li>
      <li><a href="">Sit tenetur voluptatum.</a></li>
      <li><a href="">Vel laborum ipsum molestiae hic.</a></li>
      <li><a href="">Suscipit dolor facilis voluptatem voluptatem quas hic delectus quisquam excepturi.</a></li>
    </ul>
  </li>
  <li><a href="">Aperiam sint dolores esse sit omnis.</a></li>
  <li><a href="">Non corporis voluptate minus reprehenderit eaque assumenda modi tenetur.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Fugiat consectetur dolorem optio consequatur natus a quasi error incidunt.</a></li>
  <li><a href="">Corrupti omnis doloremque voluptatem officia et porro.</a></li>
</ul>

