

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Libero asperiores repudiandae corrupti quam voluptatum provident veniam.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Consectetur aut ipsum maxime ipsam distinctio.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Maiores molestiae cumque officia excepturi voluptatem quis sed corporis.</a></li>
      <li><a href="">Voluptates nihil sed nisi vel.</a></li>
      <li><a href="">Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</a></li>
      <li><a href="">Dignissimos et asperiores.</a></li>
    </ul>
  </li>
  <li><a href="">Repudiandae sed ad voluptatibus.</a></li>
  <li><a href="">Rerum maiores sed quidem.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Qui nesciunt modi explicabo quidem.</a></li>
  <li><a href="">In alias ea temporibus maxime ad nihil suscipit porro.</a></li>
</ul>

