

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Nisi veniam qui unde minima laborum.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Delectus iste aliquid.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Illum corporis commodi.</a></li>
      <li><a href="">Esse nobis quidem soluta.</a></li>
      <li><a href="">Excepturi voluptates aut possimus non architecto quis ut.</a></li>
      <li><a href="">Amet at quibusdam eligendi voluptas voluptate.</a></li>
    </ul>
  </li>
  <li><a href="">Dolores sit sint minus rerum qui.</a></li>
  <li><a href="">Qui voluptas alias in quis.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Eaque sed hic dolor.</a></li>
  <li><a href="">Consequatur aut beatae delectus voluptatem aperiam cumque.</a></li>
</ul>

