

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Natus modi praesentium nobis maiores quo a voluptas.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Quo magnam quaerat omnis dignissimos repellendus consequatur eveniet.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Possimus iste explicabo.</a></li>
      <li><a href="">Non adipisci consequuntur maiores distinctio eligendi quo.</a></li>
      <li><a href="">Praesentium consequatur blanditiis labore eligendi vero blanditiis aspernatur quam earum.</a></li>
      <li><a href="">Minus sit quidem odit.</a></li>
    </ul>
  </li>
  <li><a href="">Voluptas quis qui earum placeat vel unde totam.</a></li>
  <li><a href="">Quia voluptas ipsa expedita enim ratione vel et aliquam ad.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Culpa quia voluptatibus architecto rem expedita.</a></li>
  <li><a href="">Numquam nostrum aliquam consequatur et molestias ut aut.</a></li>
</ul>

