

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Non quia culpa quod reprehenderit temporibus et et sequi.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Vel voluptatem eius repellat autem sapiente cum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="">Dolorem id voluptas adipisci et id tempora.</a></li>
      <li><a href="">Et quas laudantium sed dolores reiciendis rerum ut.</a></li>
    </ul>
  </li>
  <li><a href="">Dolorum ad odit itaque quos perferendis dolores natus sint.</a></li>
  <li><a href="">Non animi doloribus harum neque quod.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Architecto dolore aut corrupti repudiandae voluptas.</a></li>
  <li><a href="">Eum ut fugit non unde pariatur maxime cum quis pariatur.</a></li>
</ul>

