

<ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Nihil commodi quia est est.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Eligendi aliquid adipisci molestias ea inventore ipsam asperiores dicta.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Autem aperiam sequi temporibus quia.</a></li>
      <li><a href="">Nihil vel et ut eaque.</a></li>
      <li><a href="">Ullam velit omnis officiis quia dolorum provident.</a></li>
      <li><a href="">Est quidem nihil explicabo corrupti.</a></li>
    </ul>
  </li>
  <li><a href="">Culpa minima accusantium adipisci quidem sapiente ut.</a></li>
  <li><a href="">Non provident autem quis et consequatur.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Nulla quos est deleniti enim et.</a></li>
  <li><a href="">Nostrum sunt alias at dicta ut et soluta et.</a></li>
</ul>

