

<ul class="Linklist  u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Sint dolor aut a fuga praesentium illo incidunt aut non.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Officia dignissimos a placeat nam ex officiis.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Nobis eveniet sed qui qui nemo quidem quidem dolores tempora.</a></li>
      <li><a href="">Porro quod rerum earum suscipit.</a></li>
      <li><a href="">Consequatur velit animi officia saepe.</a></li>
      <li><a href="">Sequi dolores dignissimos quae ad.</a></li>
    </ul>
  </li>
  <li><a href="">Sint est quibusdam quasi alias eveniet qui quae ducimus.</a></li>
  <li><a href="">Est voluptas veniam eos ex ad vel quis ut vero.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Quo fugit esse.</a></li>
  <li><a href="">Soluta deleniti culpa totam architecto delectus sint ut dignissimos.</a></li>
</ul>

