

<nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Ipsa perferendis est<br>Similique officia illum
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Similique officia illum</a>
            <ul>
              <li><a href="/1">Alias placeat est</a></li>
              <li><a href="/2">Veritatis pariatur commodi</a></li>
              <li><a href="/3">Debitis odio atque</a></li>
              <li><a href="/4">Consequatur similique eos</a></li>
            </ul>
          </li>
          <li><a href="">Est neque pariatur</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Et quam qui</a>
            <ul>
              <li><a href="/1">Molestiae non quia</a></li>
              <li><a href="/2">Quasi asperiores nesciunt</a></li>
              <li><a href="/3">Ipsa perferendis est</a></li>
              <li><a href="/4">Similique officia illum</a></li>
            </ul>
          </li>
          <li><a href="">Alias placeat est</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Veritatis pariatur commodi</a>
            <ul>
              <li><a href="/1">Debitis odio atque</a></li>
              <li><a href="/2">Consequatur similique eos</a></li>
              <li><a href="/3">Est neque pariatur</a></li>
              <li><a href="/4">Et quam qui</a></li>
            </ul>
          </li>
          <li><a href="">Molestiae non quia</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Quasi asperiores nesciunt</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ipsa perferendis est</a></li>
          <li><a href="/2">Similique officia illum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Alias placeat est</a></li>
          <li><a href="/2">Veritatis pariatur commodi</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Debitis odio atque</a></li>
          <li><a href="/2">Consequatur similique eos</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Est neque pariatur</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Et quam qui</a></li>
          <li><a href="/2">Molestiae non quia</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Quasi asperiores nesciunt</a></li>
          <li><a href="/2">Ipsa perferendis est</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Similique officia illum</a></li>
          <li><a href="/2">Alias placeat est</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

