

<nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Iste voluptatum eligendi<br>Est ratione deleniti
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Est ratione deleniti</a>
            <ul>
              <li><a href="/1">Doloribus officiis iusto</a></li>
              <li><a href="/2">Atque voluptates quasi</a></li>
              <li><a href="/3">Enim voluptatibus eos</a></li>
              <li><a href="/4">Ipsam expedita qui</a></li>
            </ul>
          </li>
          <li><a href="">Molestiae explicabo molestiae</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Voluptatem odio odio</a>
            <ul>
              <li><a href="/1">Voluptatem ipsa natus</a></li>
              <li><a href="/2">Optio doloremque corporis</a></li>
              <li><a href="/3">Iste voluptatum eligendi</a></li>
              <li><a href="/4">Est ratione deleniti</a></li>
            </ul>
          </li>
          <li><a href="">Doloribus officiis iusto</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Atque voluptates quasi</a>
            <ul>
              <li><a href="/1">Enim voluptatibus eos</a></li>
              <li><a href="/2">Ipsam expedita qui</a></li>
              <li><a href="/3">Molestiae explicabo molestiae</a></li>
              <li><a href="/4">Voluptatem odio odio</a></li>
            </ul>
          </li>
          <li><a href="">Voluptatem ipsa natus</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Optio doloremque corporis</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Iste voluptatum eligendi</a></li>
          <li><a href="/2">Est ratione deleniti</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Doloribus officiis iusto</a></li>
          <li><a href="/2">Atque voluptates quasi</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Enim voluptatibus eos</a></li>
          <li><a href="/2">Ipsam expedita qui</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Molestiae explicabo molestiae</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Voluptatem odio odio</a></li>
          <li><a href="/2">Voluptatem ipsa natus</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Optio doloremque corporis</a></li>
          <li><a href="/2">Iste voluptatum eligendi</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Est ratione deleniti</a></li>
          <li><a href="/2">Doloribus officiis iusto</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

