

<nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Molestiae repellat rerum<br>A aut dolorem
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">A aut dolorem</a>
            <ul>
              <li><a href="/1">Est qui reprehenderit</a></li>
              <li><a href="/2">Pariatur qui nihil</a></li>
              <li><a href="/3">Et laborum animi</a></li>
              <li><a href="/4">Unde dignissimos nihil</a></li>
            </ul>
          </li>
          <li><a href="">Tenetur quo quia</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Voluptas ea hic</a>
            <ul>
              <li><a href="/1">Suscipit qui quae</a></li>
              <li><a href="/2">Ab voluptas sit</a></li>
              <li><a href="/3">Molestiae repellat rerum</a></li>
              <li><a href="/4">A aut dolorem</a></li>
            </ul>
          </li>
          <li><a href="">Est qui reprehenderit</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Pariatur qui nihil</a>
            <ul>
              <li><a href="/1">Et laborum animi</a></li>
              <li><a href="/2">Unde dignissimos nihil</a></li>
              <li><a href="/3">Tenetur quo quia</a></li>
              <li><a href="/4">Voluptas ea hic</a></li>
            </ul>
          </li>
          <li><a href="">Suscipit qui quae</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Ab voluptas sit</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Molestiae repellat rerum</a></li>
          <li><a href="/2">A aut dolorem</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Est qui reprehenderit</a></li>
          <li><a href="/2">Pariatur qui nihil</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Et laborum animi</a></li>
          <li><a href="/2">Unde dignissimos nihil</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Tenetur quo quia</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Voluptas ea hic</a></li>
          <li><a href="/2">Suscipit qui quae</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ab voluptas sit</a></li>
          <li><a href="/2">Molestiae repellat rerum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">A aut dolorem</a></li>
          <li><a href="/2">Est qui reprehenderit</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

