

<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    
      <li class="u-padding-right-l"><a href="#">Voluptatem doloremque natus</a></li>
    
      <li class="u-padding-right-l"><a href="#">Voluptatem molestias praesentium</a></li>
    
      <li class="u-padding-right-l"><a href="#">Voluptates esse minima</a></li>
    
      <li class="u-padding-right-l"><a href="#">Pariatur accusantium suscipit</a></li>
    
      <li class="u-padding-right-l"><a href="#">Recusandae nobis distinctio</a></li>
    
  </ul>
</nav>

