

<nav class="Navscroll Navscroll--withHint">
  <ul class="u-padding-all-s u-margin-all-l">
    
      <li class="u-padding-right-l"><a href="#">Nobis cumque accusamus</a></li>
    
      <li class="u-padding-right-l"><a href="#">Aut sunt dignissimos</a></li>
    
      <li class="u-padding-right-l"><a href="#">Ullam est totam</a></li>
    
      <li class="u-padding-right-l"><a href="#">Neque veniam nihil</a></li>
    
      <li class="u-padding-right-l"><a href="#">Minima culpa dicta</a></li>
    
  </ul>
</nav>

