

<div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
  <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
    <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
  </p>
  <p>
    <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
    <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
  </p>
</div>

<ul class="Skiplinks js-fr-bypasslinks u-hiddenPrint">
  <li><a href="#main">Vai al Contenuto</a></li>
  <li><a class="js-fr-offcanvas-open" href="#menu"
    aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">Vai alla navigazione del sito</a></li>
</ul>


<header class="Header Headroom--fixed js-Headroom u-hiddenPrint">

  <div class="Header-banner ">
    <div class="Header-owner Headroom-hideme ">
      <a href=""><span>Nome amministrazione afferente</span></a>
      <div class="Header-languages ">
          <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
            <span class="u-hiddenVisually">lingua attiva:</span>
            <span class="">ITA</span>
            <!-- <span class="u-hidden u-md-inlineBlock u-lg-inlineBlock">Italiano</span> -->
            <span class="Icon Icon-expand u-padding-left-xs"></span>
          </a>
          <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
            <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
            <ul>
              <li><a href="#1" class="u-padding-r-all"><span lang="en">English</span></a></li>
              <li><a href="#1" class="u-padding-r-all"><span lang="ar">عربي</span></a></li>
              <li><a href="#2" class="u-padding-r-all"><span lang="ch">中文网</span></a></li>
              <li><a href="#3" class="u-padding-r-all"><span lang="de">Deutsch</span></a></li>
              <li><a href="#8" class="u-padding-r-all"><span lang="es">Español</span></a></li>
              <li><a href="#4" class="u-padding-r-all"><span lang="fr">Français</span></a></li>
              <li><a href="#5" class="u-padding-r-all"><span lang="ja">日本語</span></a></li>
              <li><a href="#6" class="u-padding-r-all"><span lang="pt">Portuguese</span></a></li>
              <li><a href="#7" class="u-padding-r-all"><span lang="ru">НА РУССКОМ</span></a></li>
              <li><a href="#10" class="u-padding-r-all"><span lang="uk">УКРАЇНСЬКA</span></a></li>
              <li><a href="#9" class="u-padding-r-all"><span lang="tr">TÜRKÇE</span></a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="Header-navbar ">
    <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
      <div class="Header-logo Grid-cell" aria-hidden="true">
        <a href="" tabindex="-1">
          <img src="//placehold.it/75x80" alt="">
        </a>
      </div>

      <div class="Header-title Grid-cell">
        <h1 class="Header-titleLink">
          <a href="/">
            Nome della Pubblica Amministrazione<br>
            <small>eventuale sottotitolo</small>
          </a>
        </h1>
      </div>

      <div class="Header-searchTrigger Grid-cell">
        <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-search "
          title="attiva il form di ricerca" aria-label="attiva il form di ricerca" aria-hidden="false">
        </button>
        <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-close u-hidden "
          title="disattiva il form di ricerca" aria-label="disattiva il form di ricerca" aria-hidden="true">
        </button>
      </div>

      <div class="Header-utils Grid-cell">
        <div class="Header-social Headroom-hideme">
          <p>Seguici su</p>
          <ul class="Header-socialIcons">
            <li><a href="" title="Facebook"><span class="Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
            <li><a href="" title="Twitter"><span class="Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
            <li><a href="" title="Youtube"><span class="Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
          </ul>
        </div>
        <div class="Header-search" id="header-search">
          <form class="Form">
  <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s" role="search">
    <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderRadius-s"
      required id="cerca">
    <label class="Form-label u-color-grey-50 u-text-r-xxs" for="cerca">cerca nel sito</label>
    <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700" title="Avvia la ricerca" aria-label="Avvia la ricerca">
  </button>
  </div>
</form>

        </div>
      </div>

      <div class="Header-toggle Grid-cell">
        <a class="Hamburger-toggleContainer js-fr-offcanvas-open u-nojsDisplayInlineBlock u-lg-hidden u-md-hidden" href="#menu"
          aria-controls="menu" aria-label="accedi al menu" title="accedi al menu">
          <span class="Hamburger-toggle" role="presentation"></span>
          <span class="Header-toggleText" role="presentation">Menu</span>
        </a>
      </div>

    </div>
  </div>
  <!-- Header-navbar -->

  

</header>



<section class="Offcanvas Offcanvas--right Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone u-hiddenPrint" id="menu">
	<h2 class="u-hiddenVisually">Menu di navigazione</h2>
  <div class="Offcanvas-content u-background-white">
    <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
      <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
        aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
        <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
      </a>
    </div>
    <nav>
			<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Molestiae repellat rerum</a>
    <ul>
      <li><a href="https://example.com">A aut dolorem</a></li>
      <li><a href="https://example.com">Est qui reprehenderit</a></li>
      <li>
        <a href="https://example.com">Pariatur qui nihil</a>
        <ul>
          <li><a href="https://example.com">Et laborum animi</a></li>
          <li><a href="https://example.com">Unde dignissimos nihil</a>
            <ul>
              <li><a href="https://example.com">Unde dignissimos nihil</a></li>
              <li><a href="https://example.com">Tenetur quo quia</a></li>
              <li><a href="https://example.com">Voluptas ea hic</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Suscipit qui quae</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Ab voluptas sit</a></li>
      <li><a href="https://example.com">Molestiae repellat rerum</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Suscipit qui quae</a>
    <ul>
      <li><a href="https://example.com">Pariatur qui nihil</a></li>
      <li><a href="https://example.com">Est qui reprehenderit</a></li>
      <li><a href="https://example.com">A aut dolorem</a>
        <ul>
          <li><a href="https://example.com">Tenetur quo quia</a></li>
          <li><a href="https://example.com">Unde dignissimos nihil</a></li>
          <li><a href="https://example.com">Et laborum animi</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Voluptas ea hic</a></li>
      <li><a href="https://example.com">Suscipit qui quae</a>
        <ul>
          <li><a href="https://example.com">Ab voluptas sit</a></li>
          <li><a href="https://example.com">A aut dolorem</a></li>
          <li><a href="https://example.com">Est qui reprehenderit</a></li>
          <li><a href="https://example.com">Pariatur qui nihil</a></li>
          <li><a href="https://example.com">Et laborum animi</a></li>
          <li><a href="https://example.com">Unde dignissimos nihil</a></li>
          <li><a href="https://example.com">Tenetur quo quia</a></li>
          <li><a href="https://example.com">Voluptas ea hic</a></li>
          <li><a href="https://example.com">Suscipit qui quae</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

    </nav>
  </div>
</section>


<main role="main" id="main">
  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Ut aperiam facere. Possimus tempore doloremque voluptatum voluptas tempora quidem qui odit eveniet. Sit libero earum laudantium in blanditiis maxime qui esse temporibus. Error consequatur atque. Aut qui numquam in voluptates tempora qui.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Qui officia rerum nulla aut aut quod accusamus magni perspiciatis. Necessitatibus quia voluptatibus saepe esse ut veritatis deleniti ut. Reiciendis aut eveniet corrupti sunt.
 Dicta neque consequatur sint dolores iure ut atque. Qui eius itaque. Quasi qui in optio rem officiis recusandae. Saepe autem aut non aut ut provident. Voluptas reiciendis eveniet reiciendis aut corrupti delectus molestiae.
 Architecto similique iste sit voluptas harum non qui nemo. Ut est sit asperiores architecto minus voluptatem. Quo autem ratione.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Eaque dolores accusamus libero. Quia blanditiis voluptatibus soluta iste omnis recusandae magnam repellat incidunt. Aut non quo eius quia quia sequi. Culpa voluptate suscipit odit minima non facilis.
 Eligendi consequatur corrupti. Veritatis nobis voluptates aut. Aut enim recusandae laborum omnis. Possimus in et eligendi cum. Consequatur molestiae quibusdam qui non veniam voluptates et saepe. Possimus sed iure a.
 Maxime sunt velit repudiandae. Quia est ipsa voluptas. Iusto incidunt aut.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Quia vel totam provident voluptates.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Quisquam sint excepturi officiis voluptatibus architecto accusantium ut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Aut aut dicta dicta dolorem non reprehenderit non quasi minima.</a></li>
      <li><a href="">Facilis sint et illo id reiciendis molestias nesciunt.</a></li>
      <li><a href="">Necessitatibus voluptas itaque.</a></li>
      <li><a href="">Nihil ad et inventore.</a></li>
    </ul>
  </li>
  <li><a href="">Minus error sit debitis velit.</a></li>
  <li><a href="">Qui quae et dicta minima dicta et magni.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Est soluta natus repudiandae sapiente iusto quis consectetur sint voluptatem.</a></li>
  <li><a href="">Perspiciatis soluta quam.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>

  <div class="u-background-95 u-hiddenPrint">
    <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
        <footer class="Footer u-background-95">

  <div class="u-cf">
    <img class="Footer-logo" src="//placehold.it/75x80?text=placeholder" alt="">
    <p class="Footer-siteName">
      Nome della pubblica amministrazione
    </p>
  </div>

  <div class="Grid Grid--withGutter">
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 1</h2>
      <ul>
        <li><a href="">est qui reprehenderit</a></li>
        <li><a href="">pariatur qui nihil</a></li>
        <li><a href="">et laborum animi</a></li>
        <li><a href="">unde dignissimos nihil</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 2</h2>
      <ul>
        <li><a href="">est qui reprehenderit</a></li>
        <li><a href="">pariatur qui nihil</a></li>
        <li><a href="">et laborum animi</a></li>
        <li><a href="">unde dignissimos nihil</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 3</h2>
      <ul>
        <li><a href="">est qui reprehenderit</a></li>
        <li><a href="">pariatur qui nihil</a></li>
        <li><a href="">et laborum animi</a></li>
        <li><a href="">unde dignissimos nihil</a></li>
      </ul>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Argomento 4</h2>
      <ul>
        <li><a href="">est qui reprehenderit</a></li>
        <li><a href="">pariatur qui nihil</a></li>
        <li><a href="">et laborum animi</a></li>
        <li><a href="">unde dignissimos nihil</a></li>
      </ul>
    </div>
    

    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via a aut dolorem<br>
          a aut dolorem<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    
    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Recapiti</h3>
        <address>
          Via est qui reprehenderit<br>
          est qui reprehenderit<br>
          Tel. (+00) 00.0000.0000
        </address>
      </div>
    </div>
    

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Contatti</h2>
      <div class="Footer-subBlock">
        <h3 class="Footer-subTitle">Indirizzo PEC</h3>
        <p><a href="">indirizzo.pec@gov.it</a></p>
      </div>
    </div>

    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
      <h2 class="Footer-blockTitle">Seguici su</h2>
      <div class="Footer-subBlock">
        <ul class="Footer-socialIcons">
          <li><a href=""><span class="Icon Icon-facebook"></span><span class="u-hiddenVisually">Facebook</span></a></li>
          <li><a href=""><span class="Icon Icon-twitter"></span><span class="u-hiddenVisually">Twitter</span></a></li>
          <li><a href=""><span class="Icon Icon-youtube"></span><span class="u-hiddenVisually">Youtube</span></a></li>
        </ul>
      </div>
    </div>

  </div>

  <ul class="Footer-links u-cf">
    <li><a href="" title="Privacy policy">Privacy</a></li>
    <li><a href="" title="Note legali">Note legali</a></li>
    <li><a href="" title="Contatti">Contatti</a></li>
    <li><a href="" title="molestiae repellat rerum">molestiae repellat rerum</a></li>
    <li>a aut dolorem</li>
  </ul>

</footer>

    </div>
</div>

<a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
  <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
  <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
</a>


</main>

