

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Eum a omnis quo sunt voluptas velit eligendi. Molestiae qui deserunt. Eaque quo quod harum pariatur et. Qui quisquam at soluta veritatis non distinctio consequatur. Laudantium consectetur reiciendis qui. Maxime necessitatibus vel voluptatem sunt molestias blanditiis soluta velit quo.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Eum a omnis quo sunt voluptas velit eligendi. Molestiae qui deserunt. Eaque quo quod harum pariatur et. Qui quisquam at soluta veritatis non distinctio consequatur. Laudantium consectetur reiciendis qui. Maxime necessitatibus vel voluptatem sunt molestias blanditiis soluta velit quo.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Libero asperiores repudiandae corrupti quam voluptatum provident veniam.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Libero asperiores repudiandae corrupti quam voluptatum provident veniam.</li>
    
    <li>Consectetur aut ipsum maxime ipsam distinctio.</li>
    
    <li>Maiores molestiae cumque officia excepturi voluptatem quis sed corporis.</li>
    
    <li>Voluptates nihil sed nisi vel.</li>
    
    <li>Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</li>
    
    <li>Dignissimos et asperiores.</li>
    
    <li>Repudiandae sed ad voluptatibus.</li>
    
    <li>Rerum maiores sed quidem.</li>
    
    <li>Qui nesciunt modi explicabo quidem.</li>
    
  </ul>

  <ol>
    
    <li>Libero asperiores repudiandae corrupti quam voluptatum provident veniam.</li>
    
    <li>Consectetur aut ipsum maxime ipsam distinctio.</li>
    
    <li>Maiores molestiae cumque officia excepturi voluptatem quis sed corporis.</li>
    
    <li>Voluptates nihil sed nisi vel.</li>
    
    <li>Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</li>
    
    <li>Dignissimos et asperiores.</li>
    
    <li>Repudiandae sed ad voluptatibus.</li>
    
    <li>Rerum maiores sed quidem.</li>
    
    <li>Qui nesciunt modi explicabo quidem.</li>
    
  </ol>

</article>

