

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Occaecati velit illum sapiente error enim. Harum eaque magni. Nam molestiae aut ut aut quo temporibus sint praesentium expedita.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Occaecati velit illum sapiente error enim. Harum eaque magni. Nam molestiae aut ut aut quo temporibus sint praesentium expedita.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Sint dolor aut a fuga praesentium illo incidunt aut non.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Sint dolor aut a fuga praesentium illo incidunt aut non.</li>
    
    <li>Officia dignissimos a placeat nam ex officiis.</li>
    
    <li>Nobis eveniet sed qui qui nemo quidem quidem dolores tempora.</li>
    
    <li>Porro quod rerum earum suscipit.</li>
    
    <li>Consequatur velit animi officia saepe.</li>
    
    <li>Sequi dolores dignissimos quae ad.</li>
    
    <li>Sint est quibusdam quasi alias eveniet qui quae ducimus.</li>
    
    <li>Est voluptas veniam eos ex ad vel quis ut vero.</li>
    
    <li>Quo fugit esse.</li>
    
  </ul>

  <ol>
    
    <li>Sint dolor aut a fuga praesentium illo incidunt aut non.</li>
    
    <li>Officia dignissimos a placeat nam ex officiis.</li>
    
    <li>Nobis eveniet sed qui qui nemo quidem quidem dolores tempora.</li>
    
    <li>Porro quod rerum earum suscipit.</li>
    
    <li>Consequatur velit animi officia saepe.</li>
    
    <li>Sequi dolores dignissimos quae ad.</li>
    
    <li>Sint est quibusdam quasi alias eveniet qui quae ducimus.</li>
    
    <li>Est voluptas veniam eos ex ad vel quis ut vero.</li>
    
    <li>Quo fugit esse.</li>
    
  </ol>

</article>

