

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Deserunt consequatur consectetur nihil aspernatur dolorum est sint. Dolore odit adipisci inventore eveniet qui quia sint doloremque. Consequatur delectus eum.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Deserunt consequatur consectetur nihil aspernatur dolorum est sint. Dolore odit adipisci inventore eveniet qui quia sint doloremque. Consequatur delectus eum.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Laborum et amet et architecto.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Laborum et amet et architecto.</li>
    
    <li>At est consequatur eius assumenda nulla ut qui earum nulla.</li>
    
    <li>Ducimus ab non.</li>
    
    <li>Ut et officiis voluptatem et sed inventore sit tenetur minima.</li>
    
    <li>Inventore est molestias qui consequatur sint maxime sequi consectetur.</li>
    
    <li>Dicta sint eveniet cum aut odio sequi.</li>
    
    <li>Est saepe beatae consequatur repellendus deleniti nam nulla ab.</li>
    
    <li>Accusantium ducimus at.</li>
    
    <li>Tempore qui adipisci fugit praesentium.</li>
    
  </ul>

  <ol>
    
    <li>Laborum et amet et architecto.</li>
    
    <li>At est consequatur eius assumenda nulla ut qui earum nulla.</li>
    
    <li>Ducimus ab non.</li>
    
    <li>Ut et officiis voluptatem et sed inventore sit tenetur minima.</li>
    
    <li>Inventore est molestias qui consequatur sint maxime sequi consectetur.</li>
    
    <li>Dicta sint eveniet cum aut odio sequi.</li>
    
    <li>Est saepe beatae consequatur repellendus deleniti nam nulla ab.</li>
    
    <li>Accusantium ducimus at.</li>
    
    <li>Tempore qui adipisci fugit praesentium.</li>
    
  </ol>

</article>

