

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Totam praesentium quibusdam asperiores expedita ut. Recusandae voluptas voluptas id. Facilis aut amet rem quis omnis quos.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Totam praesentium quibusdam asperiores expedita ut. Recusandae voluptas voluptas id. Facilis aut amet rem quis omnis quos.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Natus modi praesentium nobis maiores quo a voluptas.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Natus modi praesentium nobis maiores quo a voluptas.</li>
    
    <li>Quo magnam quaerat omnis dignissimos repellendus consequatur eveniet.</li>
    
    <li>Possimus iste explicabo.</li>
    
    <li>Non adipisci consequuntur maiores distinctio eligendi quo.</li>
    
    <li>Praesentium consequatur blanditiis labore eligendi vero blanditiis aspernatur quam earum.</li>
    
    <li>Minus sit quidem odit.</li>
    
    <li>Voluptas quis qui earum placeat vel unde totam.</li>
    
    <li>Quia voluptas ipsa expedita enim ratione vel et aliquam ad.</li>
    
    <li>Culpa quia voluptatibus architecto rem expedita.</li>
    
  </ul>

  <ol>
    
    <li>Natus modi praesentium nobis maiores quo a voluptas.</li>
    
    <li>Quo magnam quaerat omnis dignissimos repellendus consequatur eveniet.</li>
    
    <li>Possimus iste explicabo.</li>
    
    <li>Non adipisci consequuntur maiores distinctio eligendi quo.</li>
    
    <li>Praesentium consequatur blanditiis labore eligendi vero blanditiis aspernatur quam earum.</li>
    
    <li>Minus sit quidem odit.</li>
    
    <li>Voluptas quis qui earum placeat vel unde totam.</li>
    
    <li>Quia voluptas ipsa expedita enim ratione vel et aliquam ad.</li>
    
    <li>Culpa quia voluptatibus architecto rem expedita.</li>
    
  </ol>

</article>

