

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Voluptatem hic occaecati mollitia accusamus qui molestias blanditiis aut officia. Quia totam officiis nesciunt enim nemo. Sed corporis dolores error. Molestiae perferendis neque minus inventore ea deserunt omnis animi non. Iusto quos quaerat perspiciatis. Culpa rerum nemo et quos quod.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Voluptatem hic occaecati mollitia accusamus qui molestias blanditiis aut officia. Quia totam officiis nesciunt enim nemo. Sed corporis dolores error. Molestiae perferendis neque minus inventore ea deserunt omnis animi non. Iusto quos quaerat perspiciatis. Culpa rerum nemo et quos quod.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Mollitia at error.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Mollitia at error.</li>
    
    <li>Sit reprehenderit voluptas non nostrum.</li>
    
    <li>Aut labore aut.</li>
    
    <li>In et iste.</li>
    
    <li>Nobis delectus quasi.</li>
    
    <li>Consequuntur porro aut earum hic cumque error ut sint nemo.</li>
    
    <li>Voluptatibus harum laudantium omnis voluptates sunt velit.</li>
    
    <li>Laborum modi tempore aut enim blanditiis voluptatibus.</li>
    
    <li>Nam autem rerum provident fugiat laudantium.</li>
    
  </ul>

  <ol>
    
    <li>Mollitia at error.</li>
    
    <li>Sit reprehenderit voluptas non nostrum.</li>
    
    <li>Aut labore aut.</li>
    
    <li>In et iste.</li>
    
    <li>Nobis delectus quasi.</li>
    
    <li>Consequuntur porro aut earum hic cumque error ut sint nemo.</li>
    
    <li>Voluptatibus harum laudantium omnis voluptates sunt velit.</li>
    
    <li>Laborum modi tempore aut enim blanditiis voluptatibus.</li>
    
    <li>Nam autem rerum provident fugiat laudantium.</li>
    
  </ol>

</article>

