

<article class="Prose u-layout-prose">

  <h1>Velit irure ad cillum Lorem consequat magna magna pariatur.</h1>

  <h2>Velit irure ad cillum Lorem consequat magna magna pariatur.</h2>

  <h3>Velit irure ad cillum Lorem consequat magna magna pariatur.</h3>

  <h4>Velit irure ad cillum Lorem consequat magna magna pariatur.</h4>

  <h5>Velit irure ad cillum Lorem consequat magna magna pariatur.</h5>

  <h6>Velit irure ad cillum Lorem consequat magna magna pariatur.</h6>

  <h2 class="u-text-h2">Paragafo</h2>

  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Sint eaque ad. Voluptatem laboriosam id minima quia ipsam voluptas labore illo. Iure ipsam tempora fugiat maxime adipisci omnis rerum. Unde dolorum assumenda illum illum fugit vel quisquam sunt. Excepturi provident ut laudantium error architecto non voluptatum voluptate blanditiis.</p>


  <h2 class="u-text-h2">Testo preformattato</h2>

  <pre class="u-textPreformatted u-textOverflow">
  <code class="u-text-r-xxs">
    Sint eaque ad. Voluptatem laboriosam id minima quia ipsam voluptas labore illo. Iure ipsam tempora fugiat maxime adipisci omnis rerum. Unde dolorum assumenda illum illum fugit vel quisquam sunt. Excepturi provident ut laudantium error architecto non voluptatum voluptate blanditiis.
  </code>
</pre>


  <h2 class="u-text-h2">Citazione</h2>

  <blockquote class="Prose-blockquote">
  <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Non quia culpa quod reprehenderit temporibus et et sequi.</p>

</blockquote>


  <h2 class="u-text-h2">Liste</h2>


  <ul>
    
    <li>Non quia culpa quod reprehenderit temporibus et et sequi.</li>
    
    <li>Vel voluptatem eius repellat autem sapiente cum.</li>
    
    <li>Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</li>
    
    <li>Ea officia dicta consequatur itaque quia.</li>
    
    <li>Dolorem id voluptas adipisci et id tempora.</li>
    
    <li>Et quas laudantium sed dolores reiciendis rerum ut.</li>
    
    <li>Dolorum ad odit itaque quos perferendis dolores natus sint.</li>
    
    <li>Non animi doloribus harum neque quod.</li>
    
    <li>Architecto dolore aut corrupti repudiandae voluptas.</li>
    
  </ul>

  <ol>
    
    <li>Non quia culpa quod reprehenderit temporibus et et sequi.</li>
    
    <li>Vel voluptatem eius repellat autem sapiente cum.</li>
    
    <li>Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</li>
    
    <li>Ea officia dicta consequatur itaque quia.</li>
    
    <li>Dolorem id voluptas adipisci et id tempora.</li>
    
    <li>Et quas laudantium sed dolores reiciendis rerum ut.</li>
    
    <li>Dolorum ad odit itaque quos perferendis dolores natus sint.</li>
    
    <li>Non animi doloribus harum neque quod.</li>
    
    <li>Architecto dolore aut corrupti repudiandae voluptas.</li>
    
  </ol>

</article>

