

<section class="Prose u-layout-prose">
  <h2 id="description">sunt nisi sunt</h2>
  <p>Culpa doloribus quo quidem ut et harum quam consectetur aperiam. Consectetur eius delectus consequatur dolorem. Optio et aut ad nam voluptate velit. Nobis non enim voluptatibus facere esse dicta. Iure et et sint et reprehenderit unde nam.</p>

  <table class="Table Table--withBorder Table--compact u-text-r-xxs" aria-describedby="description">
    <thead>
      <tr class="u-border-bottom-xs">
        <th>Tab. 1</th>
        <th>Tab. 2</th>
        <th>Tab. 3</th>
        <th>Tab. 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
      <tr>
        <td>Tab. 1</td>
        <td>Tab. 2</td>
        <td>Tab. 3</td>
        <td>Tab. 4</td>
      </tr>
    </tbody>
  </table>

</section>

