

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">cum sunt tempora</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td class="u-textWeight-600">Illum corporis commodi.</td>
      
        <td >Esse nobis quidem soluta.</td>
      
        <td >Excepturi voluptates aut possimus non architecto quis ut.</td>
      
        <td >Amet at quibusdam eligendi voluptas voluptate.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Esse nobis quidem soluta.</td>
      
        <td >Excepturi voluptates aut possimus non architecto quis ut.</td>
      
        <td >Amet at quibusdam eligendi voluptas voluptate.</td>
      
        <td >Dolores sit sint minus rerum qui.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Excepturi voluptates aut possimus non architecto quis ut.</td>
      
        <td >Amet at quibusdam eligendi voluptas voluptate.</td>
      
        <td >Dolores sit sint minus rerum qui.</td>
      
        <td >Qui voluptas alias in quis.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Amet at quibusdam eligendi voluptas voluptate.</td>
      
        <td >Dolores sit sint minus rerum qui.</td>
      
        <td >Qui voluptas alias in quis.</td>
      
        <td >Eaque sed hic dolor.</td>
      
    </tr>
    
  </tbody>
</table>

