

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
  <caption class="u-hiddenVisually">sit eius laudantium</caption>
  <thead>
    <tr>
      <th scope="col" data-tablesaw-priority="persist">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td class="u-textWeight-600">Autem consequuntur et non qui nostrum quia et.</td>
      
        <td >Iusto aut nihil omnis quidem nisi ut ea.</td>
      
        <td >Omnis et ab repellat eligendi iure quod illum atque animi.</td>
      
        <td >Dicta commodi adipisci qui impedit vitae est.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Iusto aut nihil omnis quidem nisi ut ea.</td>
      
        <td >Omnis et ab repellat eligendi iure quod illum atque animi.</td>
      
        <td >Dicta commodi adipisci qui impedit vitae est.</td>
      
        <td >Aspernatur quidem eum.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Omnis et ab repellat eligendi iure quod illum atque animi.</td>
      
        <td >Dicta commodi adipisci qui impedit vitae est.</td>
      
        <td >Aspernatur quidem eum.</td>
      
        <td >Unde iusto ipsa sunt quaerat.</td>
      
    </tr>
    
    <tr>
      
        <td class="u-textWeight-600">Dicta commodi adipisci qui impedit vitae est.</td>
      
        <td >Aspernatur quidem eum.</td>
      
        <td >Unde iusto ipsa sunt quaerat.</td>
      
        <td >Omnis perferendis incidunt voluptatem numquam.</td>
      
    </tr>
    
  </tbody>
</table>

