

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <caption class="u-hiddenVisually">ipsa perferendis est</caption>
  <thead>
    <tr>
      <th scope="col">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td>Maiores molestiae cumque officia excepturi voluptatem quis sed corporis.</td>
      
        <td>Voluptates nihil sed nisi vel.</td>
      
        <td>Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</td>
      
        <td>Dignissimos et asperiores.</td>
      
    </tr>
    
    <tr>
      
        <td>Voluptates nihil sed nisi vel.</td>
      
        <td>Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</td>
      
        <td>Dignissimos et asperiores.</td>
      
        <td>Repudiandae sed ad voluptatibus.</td>
      
    </tr>
    
    <tr>
      
        <td>Quo dicta necessitatibus ut quia perferendis iusto deserunt sunt quia.</td>
      
        <td>Dignissimos et asperiores.</td>
      
        <td>Repudiandae sed ad voluptatibus.</td>
      
        <td>Rerum maiores sed quidem.</td>
      
    </tr>
    
    <tr>
      
        <td>Dignissimos et asperiores.</td>
      
        <td>Repudiandae sed ad voluptatibus.</td>
      
        <td>Rerum maiores sed quidem.</td>
      
        <td>Qui nesciunt modi explicabo quidem.</td>
      
    </tr>
    
  </tbody>
</table>

