

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <caption class="u-hiddenVisually">aut nostrum omnis</caption>
  <thead>
    <tr>
      <th scope="col">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td>Praesentium aspernatur et at ut nesciunt deleniti iure.</td>
      
        <td>Ab quia omnis mollitia aut beatae sit soluta.</td>
      
        <td>Rerum ad ab doloremque quibusdam omnis.</td>
      
        <td>Blanditiis magnam dolorum soluta cum rerum vel deserunt et.</td>
      
    </tr>
    
    <tr>
      
        <td>Ab quia omnis mollitia aut beatae sit soluta.</td>
      
        <td>Rerum ad ab doloremque quibusdam omnis.</td>
      
        <td>Blanditiis magnam dolorum soluta cum rerum vel deserunt et.</td>
      
        <td>Omnis ut mollitia est omnis.</td>
      
    </tr>
    
    <tr>
      
        <td>Rerum ad ab doloremque quibusdam omnis.</td>
      
        <td>Blanditiis magnam dolorum soluta cum rerum vel deserunt et.</td>
      
        <td>Omnis ut mollitia est omnis.</td>
      
        <td>Vel aut eos nesciunt.</td>
      
    </tr>
    
    <tr>
      
        <td>Blanditiis magnam dolorum soluta cum rerum vel deserunt et.</td>
      
        <td>Omnis ut mollitia est omnis.</td>
      
        <td>Vel aut eos nesciunt.</td>
      
        <td>Sit sequi aut excepturi vero omnis totam.</td>
      
    </tr>
    
  </tbody>
</table>

