

<table class="Table Table--withBorder js-TableResponsive tablesaw tablesaw-stack" data-tablesaw-mode="stack">
  <caption class="u-hiddenVisually">iste voluptatum eligendi</caption>
  <thead>
    <tr>
      <th scope="col">Tab. 1</th>
      <th scope="col">Tab. 2</th>
      <th scope="col">Tab. 3</th>
      <th scope="col">Tab. 4</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      
        <td>Nobis eveniet sed qui qui nemo quidem quidem dolores tempora.</td>
      
        <td>Porro quod rerum earum suscipit.</td>
      
        <td>Consequatur velit animi officia saepe.</td>
      
        <td>Sequi dolores dignissimos quae ad.</td>
      
    </tr>
    
    <tr>
      
        <td>Porro quod rerum earum suscipit.</td>
      
        <td>Consequatur velit animi officia saepe.</td>
      
        <td>Sequi dolores dignissimos quae ad.</td>
      
        <td>Sint est quibusdam quasi alias eveniet qui quae ducimus.</td>
      
    </tr>
    
    <tr>
      
        <td>Consequatur velit animi officia saepe.</td>
      
        <td>Sequi dolores dignissimos quae ad.</td>
      
        <td>Sint est quibusdam quasi alias eveniet qui quae ducimus.</td>
      
        <td>Est voluptas veniam eos ex ad vel quis ut vero.</td>
      
    </tr>
    
    <tr>
      
        <td>Sequi dolores dignissimos quae ad.</td>
      
        <td>Sint est quibusdam quasi alias eveniet qui quae ducimus.</td>
      
        <td>Est voluptas veniam eos ex ad vel quis ut vero.</td>
      
        <td>Quo fugit esse.</td>
      
    </tr>
    
  </tbody>
</table>

