

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="dicta et consequatur" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Sit eius laudantium
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Natus quo deserunt rerum impedit ipsum dolorum excepturi officia.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Natus quo deserunt rerum impedit ipsum dolorum excepturi officia.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Reiciendis omnis deleniti quae et perferendis reiciendis quia earum quia. Tempore tenetur neque dolores magni sequi. Nihil libero at inventore eaque eaque. Aut molestias eius consequuntur itaque consequuntur alias.
      </p>
      
    </div>
  </div>
</div>

