

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="pariatur omnis assumenda" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Sunt nisi sunt
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Nihil commodi quia est est.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Nihil commodi quia est est.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Culpa doloribus quo quidem ut et harum quam consectetur aperiam. Consectetur eius delectus consequatur dolorem. Optio et aut ad nam voluptate velit. Nobis non enim voluptatibus facere esse dicta. Iure et et sint et reprehenderit unde nam.
      </p>
      
    </div>
  </div>
</div>

