

<div class="u-nbfc u-color-grey-30 u-xs-padding-all-none
   u-borderRadius-m u-background-white">
  <img src="//placehold.it/400x220" class="u-sizeFull" alt="corporis ut totam" />
  <div class="u-padding-r-all">
    <div class="u-padding-r-all u-xs-padding-all-none">
      <h3 class="u-padding-bottom-xs">
      <a class="u-textClean u-textWeight-600 u-text-r-l u-color-50" href="#">
        Amet aut voluptas
      </a>
      </h3>
          <h4 class="u-textWeight-400 u-lineHeight-l u-text-r-xs u-color-grey-60 u-padding-bottom-xs">
        Tenetur et et delectus nobis est quidem unde.
      </h4>
          <!-- <h3 class="u-padding-r-top u-padding-r-bottom"><a class="u-text-h4 u-textClean u-color-black" href="">
        Tenetur et et delectus nobis est quidem unde.
        </a>
      </h3> -->
      <p class="u-text-p u-textSecondary u-margin-r-bottom u-padding-r-bottom">
        Officiis autem error. Incidunt est in esse odit vel consequuntur debitis. Animi repellat ullam enim ut.
      </p>
      
    </div>
  </div>
</div>

