

<div class="u-padding-all-xxl u-background-grey-15 u-sizeFull">
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">sunt</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">expedita a minus</h2>
        <p class="u-text-p u-textSecondary">
          Sit eligendi nemo. Laboriosam nisi nesciunt quod. Repudiandae est laborum eum voluptatem placeat dicta iusto. Fugiat fuga est veniam et. Commodi iusto voluptates qui atque voluptas.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">provident</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">expedita aut error</h2>
        <p class="u-text-p u-textSecondary">
          Sequi et ut sit aut. Ipsa sit eos ut placeat debitis. Sequi sint quas voluptas repellendus error. Et delectus sed aliquam. Dolor molestiae velit sint.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">placeat</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">cupiditate et alias</h2>
        <p class="u-text-p u-textSecondary">
          Necessitatibus eveniet autem eligendi mollitia illo porro. Distinctio dolores quaerat repellat quia quasi voluptatem. Enim consequatur similique quas ullam est ratione exercitationem animi laboriosam. Consequatur commodi omnis adipisci dicta earum exercitationem quas facilis. Rerum minus et. Eos voluptatem natus vel aperiam vitae aspernatur.
        </p>
      </div>
    </div>
  </div>
  
</div>

