

<div class="u-padding-all-xxl u-background-grey-15 u-sizeFull">
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">voluptas</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">aut sunt dignissimos</h2>
        <p class="u-text-p u-textSecondary">
          Quia non qui. Voluptates nihil non sapiente. Blanditiis perferendis dolorum aut qui illum sit quos veniam officiis. Et reiciendis labore eveniet vel expedita rerum. Eos doloribus tempore fugit necessitatibus molestiae nemo. Voluptatum id suscipit dolor assumenda ratione.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">ut</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">ullam est totam</h2>
        <p class="u-text-p u-textSecondary">
          Omnis quia deleniti atque consequatur quo. Qui voluptatem assumenda quia similique repellendus odio. Qui et voluptatibus necessitatibus. Dolor aut est quia at porro nisi dolorum fuga non. Qui pariatur ut enim rem cupiditate.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">sit</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">neque veniam nihil</h2>
        <p class="u-text-p u-textSecondary">
          Qui sint illo aut. Sed sint consequatur ut quo non animi vel. Voluptatem beatae rem sequi non tempore laborum quod omnis.
        </p>
      </div>
    </div>
  </div>
  
</div>

