

<div class="u-padding-all-xxl u-background-grey-15 u-sizeFull">
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">necessitatibus</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">in officiis temporibus</h2>
        <p class="u-text-p u-textSecondary">
          Sed voluptatem deserunt doloribus aut. Molestias mollitia placeat laboriosam quia. Soluta architecto qui. Ipsa amet aliquid hic tenetur sed et dolores est labore. Quia et officiis illo sunt voluptate soluta. Quaerat ipsum recusandae veritatis perspiciatis temporibus facere alias.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">corrupti</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">dicta et consequatur</h2>
        <p class="u-text-p u-textSecondary">
          Est asperiores ut ut ullam. Tempora repudiandae voluptatibus ad aut voluptatem eum debitis voluptatem. Aspernatur impedit corrupti.
        </p>
      </div>
    </div>
  </div>
  
  <div class="Timeline u-layout-prose u-layoutCenter">
    <div class="Timeline-point">
      <div class="Timeline-point-content u-background-95 u-color-white">
        <div class="u-textWeight-700">quis</div>
      </div>
    </div>
    <div class="Timeline-content u-color-black">
      <div class="Timeline-arrow Icon-drop-down u-color-white"></div>
      <div class="u-borderShadow-xs u-padding-r-all u-background-white u-borderRadius-xs">
        <h2 class="u-text-r-xs u-padding-r-bottom">facilis eos saepe</h2>
        <p class="u-text-p u-textSecondary">
          Et dolorem et voluptates vel sed necessitatibus. Quaerat unde doloribus quia iusto nostrum rerum itaque. Fugit ipsam sint. Nesciunt qui ut dolorem excepturi ex doloribus est. Molestiae inventore et tempore qui voluptatem fuga.
        </p>
      </div>
    </div>
  </div>
  
</div>

