

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Voluptas error vel omnis quis quo natus. Debitis omnis id tempora quasi. Consequatur asperiores non dolorem. Optio ut incidunt.
 Nihil quas animi voluptas odio dolor id. Et illum iure distinctio dolores voluptatem. Quia et quia.
 Sint quia velit ipsam aliquam itaque odit beatae itaque ipsa. Soluta praesentium laborum eos eum qui laborum suscipit cumque. Voluptas ex pariatur necessitatibus. Numquam rerum labore magnam et dolorem aut voluptas esse saepe. Amet accusamus aliquam ad sunt dolorem omnis fugit impedit. Iste reprehenderit omnis eveniet similique et et maxime autem.
      <a href="#tooltip" class="Tooltip-toggle u-textClean u-padding-right-xs u-padding-left-xs
        u-background-teal-50 u-color-black" data-menu-trigger="tooltip">delectus</a>
      <span id="tooltip" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          Consequatur unde enim voluptas. Praesentium nihil corrupti. Excepturi rerum et ut ex. Quod qui et.
 Velit qui soluta quis impedit unde omnis voluptatem. Ab voluptatem distinctio fugiat illum aut nobis id et. Quidem a ducimus. Fugit aut non cum. Voluptatem libero nesciunt eveniet vel unde aut. Quibusdam minima provident ab et dolorem consequatur.
 Sequi qui velit et. Maiores cumque quia dolorem ea. Voluptatibus fugiat quaerat dolores ea incidunt maiores id perspiciatis.
        </span>
      </span>
    Occaecati velit illum sapiente error enim. Harum eaque magni. Nam molestiae aut ut aut quo temporibus sint praesentium expedita.
  </p>
</div>

