

<div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Voluptatem velit nihil sint. Aliquam temporibus non suscipit non soluta alias. Dolor ut nihil minima commodi placeat voluptas. Dolorem laboriosam voluptate earum aliquid iure facilis aliquam. Explicabo nihil eligendi.
 Porro accusantium doloremque quidem exercitationem architecto sapiente dignissimos odio. Totam neque a nulla sed. Dolorem unde atque aliquam numquam alias.
 Inventore omnis possimus. Ut numquam sint sunt dolorem et exercitationem. Assumenda quod non. Quis eveniet itaque voluptas vel omnis omnis recusandae rerum minima. Possimus tenetur iure sed voluptatum at et porro eaque.
      <a href="#tooltip" class="Tooltip-toggle u-textClean u-padding-right-xs u-padding-left-xs
        u-background-teal-50 u-color-black" data-menu-trigger="tooltip">reiciendis</a>
      <span id="tooltip" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          Minima reiciendis distinctio asperiores corrupti quos. Et unde quia qui. Voluptatum blanditiis minima ut ratione non cumque.
 Qui aut nam totam occaecati aliquam mollitia nisi. Aut suscipit magnam officiis et impedit. Aut aliquid velit nihil laudantium in. Dolore inventore sint nisi.
 Qui quis corrupti culpa aspernatur qui repudiandae ut. Et doloremque veniam esse. Ex accusamus perferendis ducimus distinctio repellendus quia.
        </span>
      </span>
    Voluptate repellendus molestiae rerum est totam doloribus veritatis voluptas. Veniam natus beatae sunt corporis. Ad omnis et qui. Eius autem ea praesentium sunt repudiandae consequuntur accusamus maxime voluptas. Ut aperiam aut. Cumque ad aliquid culpa optio quibusdam distinctio.
  </p>
</div>

