

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Ipsa perferendis est</a>
    <ul>
      <li><a href="https://example.com">Similique officia illum</a></li>
      <li><a href="https://example.com">Alias placeat est</a></li>
      <li>
        <a href="https://example.com">Veritatis pariatur commodi</a>
        <ul>
          <li><a href="https://example.com">Debitis odio atque</a></li>
          <li><a href="https://example.com">Consequatur similique eos</a>
            <ul>
              <li><a href="https://example.com">Consequatur similique eos</a></li>
              <li><a href="https://example.com">Est neque pariatur</a></li>
              <li><a href="https://example.com">Et quam qui</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Molestiae non quia</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Quasi asperiores nesciunt</a></li>
      <li><a href="https://example.com">Ipsa perferendis est</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Molestiae non quia</a>
    <ul>
      <li><a href="https://example.com">Veritatis pariatur commodi</a></li>
      <li><a href="https://example.com">Alias placeat est</a></li>
      <li><a href="https://example.com">Similique officia illum</a>
        <ul>
          <li><a href="https://example.com">Est neque pariatur</a></li>
          <li><a href="https://example.com">Consequatur similique eos</a></li>
          <li><a href="https://example.com">Debitis odio atque</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Et quam qui</a></li>
      <li><a href="https://example.com">Molestiae non quia</a>
        <ul>
          <li><a href="https://example.com">Quasi asperiores nesciunt</a></li>
          <li><a href="https://example.com">Similique officia illum</a></li>
          <li><a href="https://example.com">Alias placeat est</a></li>
          <li><a href="https://example.com">Veritatis pariatur commodi</a></li>
          <li><a href="https://example.com">Debitis odio atque</a></li>
          <li><a href="https://example.com">Consequatur similique eos</a></li>
          <li><a href="https://example.com">Est neque pariatur</a></li>
          <li><a href="https://example.com">Et quam qui</a></li>
          <li><a href="https://example.com">Molestiae non quia</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

