

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Nobis voluptatibus minima</a>
    <ul>
      <li><a href="#">Eum tempore et</a></li>
      <li><a href="#">Consequatur ducimus beatae</a></li>
      <li>
        <a href="#">Qui nemo aperiam</a>
        <ul>
          <li><a href="#">Odio autem exercitationem</a></li>
          <li><a href="#">Eos eos qui</a>
            <ul>
              <li><a href="#">Eos eos qui</a></li>
              <li><a href="#">Dolores laudantium eligendi</a></li>
              <li><a href="#">Quibusdam modi ullam</a></li>
            </ul>
          </li>
          <li><a href="#">Soluta est ut</a></li>
        </ul>
      </li>
      <li><a href="#">Est at assumenda</a></li>
      <li><a href="#">Nobis voluptatibus minima</a></li>
    </ul>
  </li>
  <li><a href="#">Soluta est ut</a>
    <ul>
      <li><a href="#">Qui nemo aperiam</a></li>
      <li><a href="#">Consequatur ducimus beatae</a></li>
      <li><a href="#">Eum tempore et</a>
        <ul>
          <li><a href="#">Dolores laudantium eligendi</a></li>
          <li><a href="#">Eos eos qui</a></li>
          <li><a href="#">Odio autem exercitationem</a></li>
        </ul>
      </li>
      <li><a href="#">Quibusdam modi ullam</a></li>
      <li><a href="#">Soluta est ut</a>
        <ul>
          <li><a href="#">Est at assumenda</a></li>
          <li><a href="#">Eum tempore et</a></li>
          <li><a href="#">Consequatur ducimus beatae</a></li>
          <li><a href="#">Qui nemo aperiam</a></li>
          <li><a href="#">Odio autem exercitationem</a></li>
          <li><a href="#">Eos eos qui</a></li>
          <li><a href="#">Dolores laudantium eligendi</a></li>
          <li><a href="#">Quibusdam modi ullam</a></li>
          <li><a href="#">Soluta est ut</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">consequatur ducimus beatae</a></li>
  <li><a href="#">qui nemo aperiam</a></li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

