

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Nobis voluptatibus minima</a>
    <ul>
      <li><a href="https://example.com">Eum tempore et</a></li>
      <li><a href="https://example.com">Consequatur ducimus beatae</a></li>
      <li>
        <a href="https://example.com">Qui nemo aperiam</a>
        <ul>
          <li><a href="https://example.com">Odio autem exercitationem</a></li>
          <li><a href="https://example.com">Eos eos qui</a>
            <ul>
              <li><a href="https://example.com">Eos eos qui</a></li>
              <li><a href="https://example.com">Dolores laudantium eligendi</a></li>
              <li><a href="https://example.com">Quibusdam modi ullam</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Soluta est ut</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Est at assumenda</a></li>
      <li><a href="https://example.com">Nobis voluptatibus minima</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Soluta est ut</a>
    <ul>
      <li><a href="https://example.com">Qui nemo aperiam</a></li>
      <li><a href="https://example.com">Consequatur ducimus beatae</a></li>
      <li><a href="https://example.com">Eum tempore et</a>
        <ul>
          <li><a href="https://example.com">Dolores laudantium eligendi</a></li>
          <li><a href="https://example.com">Eos eos qui</a></li>
          <li><a href="https://example.com">Odio autem exercitationem</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Quibusdam modi ullam</a></li>
      <li><a href="https://example.com">Soluta est ut</a>
        <ul>
          <li><a href="https://example.com">Est at assumenda</a></li>
          <li><a href="https://example.com">Eum tempore et</a></li>
          <li><a href="https://example.com">Consequatur ducimus beatae</a></li>
          <li><a href="https://example.com">Qui nemo aperiam</a></li>
          <li><a href="https://example.com">Odio autem exercitationem</a></li>
          <li><a href="https://example.com">Eos eos qui</a></li>
          <li><a href="https://example.com">Dolores laudantium eligendi</a></li>
          <li><a href="https://example.com">Quibusdam modi ullam</a></li>
          <li><a href="https://example.com">Soluta est ut</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

