

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="#">Et quasi amet</a>
    <ul>
      <li><a href="#">Expedita a minus</a></li>
      <li><a href="#">Expedita aut error</a></li>
      <li>
        <a href="#">Cupiditate et alias</a>
        <ul>
          <li><a href="#">Qui enim voluptatum</a></li>
          <li><a href="#">In dolore et</a>
            <ul>
              <li><a href="#">In dolore et</a></li>
              <li><a href="#">Sunt in voluptatem</a></li>
              <li><a href="#">Exercitationem similique minus</a></li>
            </ul>
          </li>
          <li><a href="#">Alias quo iure</a></li>
        </ul>
      </li>
      <li><a href="#">Natus reprehenderit exercitationem</a></li>
      <li><a href="#">Et quasi amet</a></li>
    </ul>
  </li>
  <li><a href="#">Alias quo iure</a>
    <ul>
      <li><a href="#">Cupiditate et alias</a></li>
      <li><a href="#">Expedita aut error</a></li>
      <li><a href="#">Expedita a minus</a>
        <ul>
          <li><a href="#">Sunt in voluptatem</a></li>
          <li><a href="#">In dolore et</a></li>
          <li><a href="#">Qui enim voluptatum</a></li>
        </ul>
      </li>
      <li><a href="#">Exercitationem similique minus</a></li>
      <li><a href="#">Alias quo iure</a>
        <ul>
          <li><a href="#">Natus reprehenderit exercitationem</a></li>
          <li><a href="#">Expedita a minus</a></li>
          <li><a href="#">Expedita aut error</a></li>
          <li><a href="#">Cupiditate et alias</a></li>
          <li><a href="#">Qui enim voluptatum</a></li>
          <li><a href="#">In dolore et</a></li>
          <li><a href="#">Sunt in voluptatem</a></li>
          <li><a href="#">Exercitationem similique minus</a></li>
          <li><a href="#">Alias quo iure</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="#">expedita aut error</a></li>
  <li><a href="#">cupiditate et alias</a></li>
  <li data-megamenu-class="Megamenu-area">
    <a data-megamenu-class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

