

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Amet aut voluptas</a>
    <ul>
      <li><a href="https://example.com">Voluptates suscipit quis</a></li>
      <li><a href="https://example.com">Corporis ut totam</a></li>
      <li>
        <a href="https://example.com">Explicabo quo praesentium</a>
        <ul>
          <li><a href="https://example.com">Non hic nobis</a></li>
          <li><a href="https://example.com">Nobis maiores numquam</a>
            <ul>
              <li><a href="https://example.com">Nobis maiores numquam</a></li>
              <li><a href="https://example.com">Odio id perspiciatis</a></li>
              <li><a href="https://example.com">Aut et ea</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Aperiam doloribus et</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Dolorem odio vitae</a></li>
      <li><a href="https://example.com">Amet aut voluptas</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Aperiam doloribus et</a>
    <ul>
      <li><a href="https://example.com">Explicabo quo praesentium</a></li>
      <li><a href="https://example.com">Corporis ut totam</a></li>
      <li><a href="https://example.com">Voluptates suscipit quis</a>
        <ul>
          <li><a href="https://example.com">Odio id perspiciatis</a></li>
          <li><a href="https://example.com">Nobis maiores numquam</a></li>
          <li><a href="https://example.com">Non hic nobis</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Aut et ea</a></li>
      <li><a href="https://example.com">Aperiam doloribus et</a>
        <ul>
          <li><a href="https://example.com">Dolorem odio vitae</a></li>
          <li><a href="https://example.com">Voluptates suscipit quis</a></li>
          <li><a href="https://example.com">Corporis ut totam</a></li>
          <li><a href="https://example.com">Explicabo quo praesentium</a></li>
          <li><a href="https://example.com">Non hic nobis</a></li>
          <li><a href="https://example.com">Nobis maiores numquam</a></li>
          <li><a href="https://example.com">Odio id perspiciatis</a></li>
          <li><a href="https://example.com">Aut et ea</a></li>
          <li><a href="https://example.com">Aperiam doloribus et</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

