

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Deserunt ipsa odio</a>
    <ul>
      <li><a href="https://example.com">Soluta commodi et</a></li>
      <li><a href="https://example.com">Quos quis sunt</a></li>
      <li>
        <a href="https://example.com">Neque mollitia laboriosam</a>
        <ul>
          <li><a href="https://example.com">Voluptate rerum distinctio</a></li>
          <li><a href="https://example.com">Consectetur dolores odit</a>
            <ul>
              <li><a href="https://example.com">Consectetur dolores odit</a></li>
              <li><a href="https://example.com">Sed et est</a></li>
              <li><a href="https://example.com">Quia quae mollitia</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Quam quisquam animi</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Esse consequatur facilis</a></li>
      <li><a href="https://example.com">Deserunt ipsa odio</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Quam quisquam animi</a>
    <ul>
      <li><a href="https://example.com">Neque mollitia laboriosam</a></li>
      <li><a href="https://example.com">Quos quis sunt</a></li>
      <li><a href="https://example.com">Soluta commodi et</a>
        <ul>
          <li><a href="https://example.com">Sed et est</a></li>
          <li><a href="https://example.com">Consectetur dolores odit</a></li>
          <li><a href="https://example.com">Voluptate rerum distinctio</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Quia quae mollitia</a></li>
      <li><a href="https://example.com">Quam quisquam animi</a>
        <ul>
          <li><a href="https://example.com">Esse consequatur facilis</a></li>
          <li><a href="https://example.com">Soluta commodi et</a></li>
          <li><a href="https://example.com">Quos quis sunt</a></li>
          <li><a href="https://example.com">Neque mollitia laboriosam</a></li>
          <li><a href="https://example.com">Voluptate rerum distinctio</a></li>
          <li><a href="https://example.com">Consectetur dolores odit</a></li>
          <li><a href="https://example.com">Sed et est</a></li>
          <li><a href="https://example.com">Quia quae mollitia</a></li>
          <li><a href="https://example.com">Quam quisquam animi</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

