

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Iste voluptatum eligendi</a>
    <ul>
      <li><a href="https://example.com">Est ratione deleniti</a></li>
      <li><a href="https://example.com">Doloribus officiis iusto</a></li>
      <li>
        <a href="https://example.com">Atque voluptates quasi</a>
        <ul>
          <li><a href="https://example.com">Enim voluptatibus eos</a></li>
          <li><a href="https://example.com">Ipsam expedita qui</a>
            <ul>
              <li><a href="https://example.com">Ipsam expedita qui</a></li>
              <li><a href="https://example.com">Molestiae explicabo molestiae</a></li>
              <li><a href="https://example.com">Voluptatem odio odio</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Voluptatem ipsa natus</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Optio doloremque corporis</a></li>
      <li><a href="https://example.com">Iste voluptatum eligendi</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Voluptatem ipsa natus</a>
    <ul>
      <li><a href="https://example.com">Atque voluptates quasi</a></li>
      <li><a href="https://example.com">Doloribus officiis iusto</a></li>
      <li><a href="https://example.com">Est ratione deleniti</a>
        <ul>
          <li><a href="https://example.com">Molestiae explicabo molestiae</a></li>
          <li><a href="https://example.com">Ipsam expedita qui</a></li>
          <li><a href="https://example.com">Enim voluptatibus eos</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Voluptatem odio odio</a></li>
      <li><a href="https://example.com">Voluptatem ipsa natus</a>
        <ul>
          <li><a href="https://example.com">Optio doloremque corporis</a></li>
          <li><a href="https://example.com">Est ratione deleniti</a></li>
          <li><a href="https://example.com">Doloribus officiis iusto</a></li>
          <li><a href="https://example.com">Atque voluptates quasi</a></li>
          <li><a href="https://example.com">Enim voluptatibus eos</a></li>
          <li><a href="https://example.com">Ipsam expedita qui</a></li>
          <li><a href="https://example.com">Molestiae explicabo molestiae</a></li>
          <li><a href="https://example.com">Voluptatem odio odio</a></li>
          <li><a href="https://example.com">Voluptatem ipsa natus</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

