

<ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
  <li><a href="https://example.com">Voluptatem doloremque natus</a>
    <ul>
      <li><a href="https://example.com">Voluptatem molestias praesentium</a></li>
      <li><a href="https://example.com">Voluptates esse minima</a></li>
      <li>
        <a href="https://example.com">Pariatur accusantium suscipit</a>
        <ul>
          <li><a href="https://example.com">Recusandae nobis distinctio</a></li>
          <li><a href="https://example.com">Sed sint fuga</a>
            <ul>
              <li><a href="https://example.com">Sed sint fuga</a></li>
              <li><a href="https://example.com">Reprehenderit eveniet nihil</a></li>
              <li><a href="https://example.com">Aut doloremque veritatis</a></li>
            </ul>
          </li>
          <li><a href="https://example.com">Eos sint aliquid</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Quia corrupti commodi</a></li>
      <li><a href="https://example.com">Voluptatem doloremque natus</a></li>
    </ul>
  </li>
  <li><a href="https://example.com">Eos sint aliquid</a>
    <ul>
      <li><a href="https://example.com">Pariatur accusantium suscipit</a></li>
      <li><a href="https://example.com">Voluptates esse minima</a></li>
      <li><a href="https://example.com">Voluptatem molestias praesentium</a>
        <ul>
          <li><a href="https://example.com">Reprehenderit eveniet nihil</a></li>
          <li><a href="https://example.com">Sed sint fuga</a></li>
          <li><a href="https://example.com">Recusandae nobis distinctio</a></li>
        </ul>
      </li>
      <li><a href="https://example.com">Aut doloremque veritatis</a></li>
      <li><a href="https://example.com">Eos sint aliquid</a>
        <ul>
          <li><a href="https://example.com">Quia corrupti commodi</a></li>
          <li><a href="https://example.com">Voluptatem molestias praesentium</a></li>
          <li><a href="https://example.com">Voluptates esse minima</a></li>
          <li><a href="https://example.com">Pariatur accusantium suscipit</a></li>
          <li><a href="https://example.com">Recusandae nobis distinctio</a></li>
          <li><a href="https://example.com">Sed sint fuga</a></li>
          <li><a href="https://example.com">Reprehenderit eveniet nihil</a></li>
          <li><a href="https://example.com">Aut doloremque veritatis</a></li>
          <li><a href="https://example.com">Eos sint aliquid</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-megamenu-class="u-hidden">
    <a class="Button u-border-none u-color-95 u-background-compl u-text-r-xxs" href="#">Accedi</a>
  </li>
</ul>

