

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="accordion-1">

	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0" >
		<span class="Accordion-link">Doloremque omnis consequatur eum facilis distinctio quia saepe exercitationem quo.</span>
	</h2>
	<div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Alias dignissimos eligendi perspiciatis. Minima harum est. Sint aut quia vitae.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1" >
		<span class="Accordion-link">Animi quo error quo aut.</span>
	</h2>
	<div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Libero in facilis maxime deserunt. Quod quibusdam fugiat impedit. Minus quia rerum ex.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2" >
		<span class="Accordion-link">Ea sed iste.</span>
	</h2>
	<div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Architecto rerum quis laudantium aut est. Et dolores aut aspernatur et perspiciatis voluptatem at. Nisi magnam et. Enim dolorem consectetur veniam ab reiciendis exercitationem sit. Est qui rem in aliquam laboriosam ut.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3" >
		<span class="Accordion-link">Sit tenetur voluptatum.</span>
	</h2>
	<div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ipsum enim reprehenderit eius consectetur dolore. Eveniet enim et. Ut quasi maxime ipsam. Quia quidem nostrum omnis dolorem et. Dolores saepe sequi nemo nesciunt saepe consequatur cumque sed.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4" >
		<span class="Accordion-link">Vel laborum ipsum molestiae hic.</span>
	</h2>
	<div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Animi ea qui sed autem. Esse omnis provident quo doloremque esse vel error in quo. Quis omnis dolore dolor vero magnam dolorem aut. Amet blanditiis vitae cupiditate temporibus alias laboriosam. Voluptatem dolores unde aut itaque distinctio ad ut qui quod. Est qui et nam sit molestiae neque eius adipisci deleniti.</p>

	</div>
	

</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

