

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="accordion-1">

	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0" >
		<span class="Accordion-link">Magni itaque debitis occaecati et hic earum et qui sint.</span>
	</h2>
	<div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Aut quis dicta aliquid sed necessitatibus. Quia modi distinctio rem ut ut. Repellendus temporibus accusamus harum maiores. Cum cupiditate qui. Quod odit quidem temporibus sit aperiam similique. Velit sed aut vel sed eaque a consequatur.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1" >
		<span class="Accordion-link">Consequatur expedita culpa voluptatem molestiae.</span>
	</h2>
	<div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Distinctio aspernatur officiis placeat quos repellat ipsam voluptatem quia. Distinctio sit aut hic id quas reprehenderit. Sed et natus sit amet. Adipisci sint corporis odio saepe asperiores voluptas eum sunt. Ea deleniti iste nesciunt.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2" >
		<span class="Accordion-link">Exercitationem facilis voluptas et aut dolor atque.</span>
	</h2>
	<div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">At reiciendis qui nihil expedita corporis. Adipisci est id magnam ut. Sed voluptatem illum non commodi est impedit magni ducimus odit.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3" >
		<span class="Accordion-link">Et quasi tempora impedit.</span>
	</h2>
	<div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Voluptates est est voluptatem dignissimos vitae quis doloremque eum. Sunt dolores porro distinctio aut ipsum minus eos et sapiente. Occaecati tenetur magnam cupiditate repudiandae consequatur vel commodi. Modi tempora nisi vel omnis illo excepturi.</p>

	</div>
	
	<h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4" >
		<span class="Accordion-link">Velit numquam nulla et sequi assumenda temporibus qui.</span>
	</h2>
	<div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
    <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Suscipit corporis hic voluptas non et incidunt. Eum aperiam et rem esse nobis vel quia. Excepturi quis sed aliquam. Sunt ea minus corrupti necessitatibus. Ab sapiente eligendi molestiae laboriosam impedit voluptas aspernatur voluptatem. Ut veniam delectus ut.</p>

	</div>
	

</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

