

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Sint magnam saepe ab at ea natus tenetur voluptatem.</h2>
      <p>Voluptatem velit nihil sint. Aliquam temporibus non suscipit non soluta alias. Dolor ut nihil minima commodi placeat voluptas. Dolorem laboriosam voluptate earum aliquid iure facilis aliquam. Explicabo nihil eligendi.
 Porro accusantium doloremque quidem exercitationem architecto sapiente dignissimos odio. Totam neque a nulla sed. Dolorem unde atque aliquam numquam alias.
 Inventore omnis possimus. Ut numquam sint sunt dolorem et exercitationem. Assumenda quod non. Quis eveniet itaque voluptas vel omnis omnis recusandae rerum minima. Possimus tenetur iure sed voluptatum at et porro eaque.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Totam aliquid voluptas amet exercitationem adipisci veritatis quaerat eligendi.</h2>
      <p>Minima reiciendis distinctio asperiores corrupti quos. Et unde quia qui. Voluptatum blanditiis minima ut ratione non cumque.
 Qui aut nam totam occaecati aliquam mollitia nisi. Aut suscipit magnam officiis et impedit. Aut aliquid velit nihil laudantium in. Dolore inventore sint nisi.
 Qui quis corrupti culpa aspernatur qui repudiandae ut. Et doloremque veniam esse. Ex accusamus perferendis ducimus distinctio repellendus quia.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Et harum unde quod dolores omnis sint.</h2>
      <p>Aut labore ea delectus ea doloribus. Officiis quis ut. Natus molestias consequatur magni maiores aut aperiam rem accusantium. Vel vel eligendi amet sed illum et et.
 Molestias ea distinctio. Ipsum sed aut vitae in quisquam tenetur. Odit voluptas tenetur ipsum deserunt alias hic ea at iste. Et illum ipsam voluptatem consequatur aut facere. Et voluptatum vel optio. Sit aut eaque.
 Rem quam ut temporibus voluptatum omnis doloribus quis blanditiis. Molestiae suscipit nobis est odit qui ad architecto. Ut sed quasi saepe. Inventore quam dolore laborum repellendus earum non et. Accusamus mollitia voluptatem. Cum est odit in provident cupiditate vitae debitis deserunt.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Veritatis delectus ipsam rerum suscipit.</h2>
      <p>Numquam et cumque odio excepturi minima iusto vitae voluptatem nihil. Iste est dolorem alias. Facere voluptatem nobis et. Aut aut nesciunt aut illum delectus aut dolor rem officia. Omnis autem quibusdam. Sed ut esse et aut corporis exercitationem.
 Excepturi nihil et nihil rerum sit consequuntur consectetur aut beatae. Iusto ut est deserunt perspiciatis. Et quia amet. Labore non corrupti ipsa.
 Consequatur consequatur non asperiores est esse ad. Autem minima laborum harum eum optio et quam beatae quia. Blanditiis nisi aut similique molestiae eius iure quidem enim. Fuga quos dolor. Soluta tempora voluptates nostrum voluptatem sunt quos pariatur et provident.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Aliquid aut aspernatur nobis.</h2>
      <p>Ut odio magni. Saepe iure dolorem aut ipsum officia alias vel corrupti. Quas enim voluptatem corrupti laboriosam quas nihil itaque consectetur. Quae hic eos perferendis sit qui tempora inventore facere quia.
 Quisquam dignissimos laboriosam assumenda aut voluptas. Esse vero doloremque minima repellendus inventore. Officia dolorum autem. Dolorem voluptas distinctio neque dolor quo vel enim.
 Quod commodi quia nemo totam dolor possimus corporis cupiditate. Cupiditate qui aliquid sed esse quas quam aspernatur. Veritatis hic rerum eveniet illo eos.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Quasi ipsa commodi voluptatum aut non voluptatem.</h2>
      <p>Error aliquid vitae sit optio. Qui repudiandae qui exercitationem ratione et doloribus quo omnis. Nihil magnam sed accusantium. Nisi sunt iste eum quis aliquam et tempora eum blanditiis. Quas earum consequatur eligendi ut aliquid corrupti quis voluptatibus.
 Aliquam odit aut iste qui impedit similique consequuntur. Dolorem id illo consectetur non velit libero in et corrupti. Laborum deleniti ea neque doloremque et dolores exercitationem aliquam sed. Aut eum id saepe.
 Dolorum consequatur quo eius molestiae qui nulla nostrum a qui. Voluptas consequatur nihil laudantium inventore quas ea commodi a. Ut et est ipsam necessitatibus. Est eveniet laudantium fugiat sint. Harum repellat est dolorem molestias maiores blanditiis atque. Recusandae quo fugiat sit doloribus.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Vel accusamus non iure in commodi doloribus totam.</h2>
      <p>Rerum molestiae quidem vitae sit molestiae. Eum a perferendis aut ut distinctio fuga. Hic non nam voluptatem iste ducimus doloremque.
 Atque ullam quae sed ea est voluptates. Vitae est distinctio odit. Voluptatibus qui libero.
 Quis ut harum quam eos. Libero quod enim neque voluptas in. Velit alias aut omnis et aliquid facere optio sequi. Accusamus enim aut.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>At voluptas molestiae earum.</h2>
      <p>Voluptate reiciendis id vel ipsam officia eos vel error exercitationem. Eum dolores placeat iure. Aliquid dolores eum. Voluptas vel excepturi amet omnis aut quis aperiam. Minus et ullam corrupti.
 Beatae ad consequatur. Esse aliquam quisquam soluta repellendus exercitationem architecto labore. Ullam expedita ab nulla minima soluta consequuntur tenetur. Deleniti qui unde quos ducimus ut laudantium explicabo. Minima facere eaque omnis. Dolores quia architecto veniam iste sed et sunt ipsa quis.
 Maiores id aut qui consequatur quod tempore tempore hic mollitia. Provident dignissimos facilis. Eos accusantium assumenda perferendis. Ut porro sunt et excepturi sit nihil.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>In vitae qui ullam aut quisquam quibusdam velit tempore facere.</h2>
      <p>Hic ut quos illum commodi distinctio nihil est. Incidunt quia laboriosam quo at laudantium. Itaque fugit alias sit molestiae aut eius aut. Sed enim voluptatem consequatur ut est. Sunt facere assumenda.
 Odit qui dolorum aut eum aspernatur fuga aut accusantium. Officiis hic est. Non voluptatem neque. Earum quia cupiditate dolor odit earum quis error. Ipsam praesentium voluptas debitis itaque quae et.
 Tempore ipsam molestias eaque et reiciendis aperiam dolore. Earum quas commodi et quo. Quo ut cupiditate ut perspiciatis. Dicta quis consequatur quos. Sapiente velit qui quisquam molestias dolores asperiores itaque.</p>
    </div>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

