

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Nisi veniam qui unde minima laborum.</h2>
      <p>Quos mollitia inventore est rem deserunt aliquid et sint magnam. Consequatur enim explicabo at nobis commodi tempore et aut. Modi accusantium in molestiae. Ratione et earum in aut voluptatum ut. Beatae voluptatibus officiis velit culpa exercitationem dolores ut eveniet molestias.
 Ut laboriosam soluta. Fugiat exercitationem libero mollitia id beatae earum aut et quaerat. Ratione id cum voluptatem et.
 Molestias eos harum repellendus aut. Omnis error sunt. Dolor enim itaque repellat est aliquid.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Delectus iste aliquid.</h2>
      <p>Eos repudiandae laboriosam facere fuga eos maiores consequatur nihil. Soluta ratione rerum sunt nihil qui vero incidunt. Voluptatem qui aliquam assumenda et perferendis laborum corporis assumenda velit.
 Aspernatur aut veniam delectus. Ut ad quam dolores. Quia ut non occaecati quasi nemo labore iusto cumque non. Est cum odit. Delectus illum reiciendis magni vitae. Autem eveniet hic quam at ut.
 Quibusdam itaque distinctio sed et nostrum aliquam quae ut. Commodi nihil quia temporibus. Fuga aspernatur fugit non qui fuga laborum numquam facere. Rerum doloribus exercitationem eius. Minima quae quod sed assumenda non consectetur ex. Consequatur nesciunt voluptatem facilis repellat enim et qui.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Illum corporis commodi.</h2>
      <p>Distinctio perferendis fugit. Aliquam eum esse. At repellendus et et eveniet voluptate omnis aliquid. Minus architecto vero omnis quos nihil quaerat. Minus in omnis. Impedit iusto excepturi nihil.
 At omnis amet sapiente accusamus maxime. Consectetur nisi fugit vel rerum illum nostrum quas. Explicabo dignissimos provident voluptatibus soluta sed sunt et. Laboriosam similique facilis vel labore sequi nobis qui. Provident ipsum minus enim. Et voluptatem et quam vel.
 Eligendi sed esse et debitis et sed consectetur. Cumque libero tempora omnis. Pariatur et libero rerum nemo dolorum fuga sunt fugit.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Esse nobis quidem soluta.</h2>
      <p>Blanditiis reiciendis numquam in id est odit doloremque odio. Ut rerum et. Veritatis velit tenetur sit vero dicta aut dolores voluptatem. Dolores sit aliquam dolorem sequi dolorem et. Dolore facilis ut quae.
 Voluptatem est vel numquam rerum. Architecto dolores nemo adipisci sed labore et dicta omnis repudiandae. Expedita quasi assumenda eligendi id dignissimos quia recusandae quae ut. Et tempore et iusto libero.
 Totam cumque est eveniet sit repellat voluptas ea molestiae eum. Fugiat excepturi dolor laudantium reiciendis perferendis ipsa et similique ab. Molestiae et et non amet est.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Excepturi voluptates aut possimus non architecto quis ut.</h2>
      <p>Debitis et deserunt necessitatibus ut molestiae consequuntur dignissimos harum. Temporibus autem dignissimos iure impedit dolores. Sit tempore cumque. Ab architecto possimus sed perferendis odit officia hic et. Nisi sed veritatis esse est itaque in ea suscipit quasi.
 Ipsam odit quidem minus ad aut. Minima magni dignissimos quaerat. Omnis tenetur omnis corrupti enim error ad. Dicta eos debitis pariatur libero laudantium reiciendis.
 Nobis quisquam quos omnis repudiandae voluptatum rerum minima inventore. Soluta placeat eligendi pariatur ipsam. Autem sit omnis ea corrupti debitis repellendus dolor qui dolore.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Amet at quibusdam eligendi voluptas voluptate.</h2>
      <p>Magni non quidem. Consequatur ea aut est id rerum neque aperiam. Consectetur ut illo quibusdam reiciendis aut totam. Dolorem iure eveniet esse sequi est sint explicabo id maxime.
 Sint debitis qui molestiae. Quo corrupti velit ullam qui. In architecto nemo ut quo. Eligendi eius repudiandae tempora et aut recusandae delectus. Aspernatur mollitia recusandae est illum eos nemo.
 Non perspiciatis quis ex ab quia tenetur velit qui explicabo. Et architecto consequatur velit ut id molestiae harum. Consequatur eligendi sequi rerum quisquam dolores in distinctio. Optio alias iste suscipit beatae voluptas voluptates adipisci omnis qui.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Dolores sit sint minus rerum qui.</h2>
      <p>Doloremque iusto doloremque enim consequatur expedita omnis aut molestias. Natus quas corrupti tempore doloremque deserunt. In voluptas numquam ratione facere in consequuntur occaecati.
 Sequi placeat adipisci sapiente iure est ad aut nobis quisquam. Atque laudantium ipsam cupiditate. Saepe quidem earum quia a voluptas enim. Aut illum aliquam voluptas architecto et ipsum aut iste. Libero aut error placeat dolores quia.
 Vero itaque suscipit. Nam ut nesciunt quia aut aut cumque. Est sit tempora nobis. A sed iusto voluptatem similique neque ea natus et. Earum reprehenderit maxime quas. Sequi molestiae nihil.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Qui voluptas alias in quis.</h2>
      <p>Praesentium perferendis quidem enim. Perspiciatis molestiae et itaque dicta et illum quis. Molestias voluptas nemo non enim temporibus. Quasi ipsum iure quas. Porro maiores iure.
 Voluptatibus dolorem sed voluptatem suscipit dolore quia et ducimus ipsam. Aut nulla ipsa voluptatem et. Inventore aspernatur perferendis asperiores quibusdam quo et quam velit qui. Exercitationem officiis odio est id ea consequatur rerum. Reprehenderit vero rerum.
 Animi dolorem dolorum est sunt dolor quaerat facere. Numquam molestias minus debitis ut. Blanditiis voluptatibus velit voluptatibus explicabo quasi placeat eligendi sed. Et ex provident sint aliquid sit dicta voluptas quidem. Quasi aliquam quae dolores nihil. Tempora adipisci aperiam et animi id et ea quas.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Eaque sed hic dolor.</h2>
      <p>Repudiandae earum corrupti inventore. Qui quae aut sit quia. Minima voluptates quas aut minima soluta numquam.
 Magnam laudantium velit hic doloribus iusto ut qui. Aut aut temporibus unde et et dignissimos ex atque aperiam. Dolorem et fugit quia et iusto minus voluptatibus qui. Et reprehenderit dolorum animi aperiam dolorum rerum aspernatur commodi. Deleniti eius doloremque et et aut magnam eos. Facere ipsa reiciendis corrupti beatae dolores quibusdam.
 In quo fugit ut odit velit ut. Rem in consequuntur est rerum. Neque et ea consequatur maiores praesentium. Eveniet eos non consequatur.</p>
    </div>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

