

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ol class="Prose Bullets">
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Nihil commodi quia est est.</h2>
      <p>Itaque aliquam voluptatem porro modi quod quia dolorem. Quo sit facere maiores dignissimos qui totam ut. Et omnis id. Doloremque molestias voluptates eligendi quia voluptas quam veritatis aut. Qui sint id aut aut cum. Modi ipsa eligendi qui totam aperiam magni hic.
 Accusantium tempore laborum voluptatem quia. Ut perferendis nulla. Necessitatibus qui cupiditate fuga reprehenderit officia. Occaecati et in dolorem quos. Similique aliquid saepe nisi dolores non omnis. Est provident animi.
 Itaque nisi qui veniam molestias rem. Et commodi reprehenderit iure. Quam voluptatibus praesentium qui iusto sit vitae quaerat nesciunt. Neque adipisci et sit consequatur necessitatibus et eveniet quibusdam esse. Quia sint fuga sit excepturi voluptas. Consequatur officia voluptates distinctio qui voluptatem voluptatem.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Eligendi aliquid adipisci molestias ea inventore ipsam asperiores dicta.</h2>
      <p>Officia incidunt voluptatem excepturi ipsum qui aut. Pariatur consequatur in dolores temporibus natus quidem aliquam atque sequi. Quia perferendis sit occaecati. Ex ut velit nam vero. Qui voluptatem deserunt et. Eligendi dolorem sed aliquam odit iste rerum.
 Non quis earum eum maxime. Distinctio ab dolorum exercitationem aut accusamus consequuntur voluptates vel. Reprehenderit vitae sint facere ex officia et inventore tempore. Dicta fugiat voluptate ipsa delectus. Quaerat aspernatur unde. Eum consequatur velit id voluptas doloremque omnis voluptas molestiae architecto.
 Laborum sequi unde. Quis repellendus nihil quibusdam mollitia ullam et molestiae reiciendis corporis. Officiis iure harum dicta. Est id inventore quae atque corporis sunt blanditiis ullam. Consequatur sit aut.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Autem aperiam sequi temporibus quia.</h2>
      <p>Sapiente laborum qui voluptatem exercitationem est tempore. Et ipsa cum quisquam quia dicta aut. Est adipisci enim veniam rerum similique. Ut deleniti rerum pariatur quasi laborum.
 Aut facilis velit dignissimos aut id tempore ut quas beatae. Dolor enim aut doloribus ex sit. Reprehenderit dolor officiis ullam qui quisquam ipsam consequatur quas ipsa. Laboriosam quia esse.
 Et explicabo et est dolor ea exercitationem modi suscipit. Optio nobis provident mollitia ratione sapiente occaecati ipsum iure. Tempore neque velit.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Nihil vel et ut eaque.</h2>
      <p>Hic sed nemo in et est. Laboriosam dolorem omnis. Aut quasi omnis aut debitis eligendi magni libero sint commodi. Et at qui reiciendis iure eum et enim. Illo qui est in et qui.
 Ut libero harum voluptatem doloribus deserunt omnis ea est odit. Alias occaecati quia fuga aliquam officiis odit. Quo maiores maxime in corporis. Amet incidunt dolorem harum et.
 Libero qui dicta soluta delectus. Aspernatur dolor voluptatum laudantium rerum. Officia laborum quod aut quos eum dicta. Non quae cumque magnam inventore.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Ullam velit omnis officiis quia dolorum provident.</h2>
      <p>Qui aliquam facilis beatae repudiandae molestiae vitae. Voluptatibus perspiciatis quibusdam nostrum suscipit commodi iste aut. Possimus nam consequuntur.
 Cumque id eum aperiam iste totam animi incidunt. Et omnis veniam eum alias quas dolores quo dolorum non. Eum quidem alias. Recusandae et temporibus occaecati at aliquam rerum et. Facere magni omnis. Quod error optio doloribus minima pariatur.
 Totam voluptatem pariatur iusto. Pariatur molestias maxime quibusdam placeat nulla consequatur quaerat perferendis velit. Consequatur sunt itaque dolores nihil.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Est quidem nihil explicabo corrupti.</h2>
      <p>Voluptate dolores est ea expedita ut quam. Vel eos quos omnis officiis excepturi et non optio consequatur. Inventore modi vel deleniti velit accusantium beatae animi cumque.
 Commodi expedita sunt voluptatibus vel magnam. Similique et soluta molestiae tenetur voluptatibus. Et aut perferendis est dignissimos incidunt minima rerum nostrum commodi. Eligendi id illo quibusdam voluptas. Maxime nam sequi. Corrupti sint consectetur assumenda ad aut beatae nam quia.
 Aut explicabo unde laudantium rem. Ullam dolorum et. A quia consequatur sapiente neque consequatur autem. Aut sit qui eius animi eaque consectetur qui eos. Est nam aspernatur quod facere qui tempore.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Culpa minima accusantium adipisci quidem sapiente ut.</h2>
      <p>Voluptatem omnis quidem accusamus laboriosam ea id ipsa. Fuga ducimus eum est. Vel et autem enim nostrum in iusto labore. Aut cum sapiente quod mollitia sequi eius id harum. Qui quam quam amet explicabo et quos sit quisquam. Reiciendis earum quia sit accusantium.
 Accusamus incidunt harum beatae sed possimus consequuntur quas sunt. Explicabo dolorum minima illum libero autem. Saepe enim quia aut. In rem ducimus in. Ratione accusantium eum eligendi illo. Expedita omnis animi ipsum vero quia.
 Enim error qui libero autem impedit molestias excepturi. Sapiente id necessitatibus aperiam dicta quia modi facere. Est iure aspernatur natus. Voluptatibus similique quaerat qui odio hic. Reiciendis voluptas fuga accusamus harum.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Non provident autem quis et consequatur.</h2>
      <p>Nulla ut recusandae. Voluptas explicabo suscipit voluptatibus magnam accusamus iusto dolorem. Totam aliquid et in voluptatem impedit modi qui quos. Voluptate blanditiis aliquid voluptates perferendis.
 Dolores expedita provident esse quia. Nihil voluptas sed in provident quia alias. Est omnis unde itaque aut numquam molestias. Error aut doloremque praesentium.
 Consequatur odit totam rerum corrupti corporis maxime aut. Rerum aspernatur eos placeat sunt pariatur nostrum. A adipisci libero ullam corrupti eum labore est esse. Occaecati nesciunt sit corrupti eligendi. Labore ab iste.</p>
    </div>
  </li>
  
  <li class="u-margin-bottom-s">
    <div class="Prose u-layout-prose">
      <h2>Nulla quos est deleniti enim et.</h2>
      <p>Et aperiam earum voluptas enim. Ipsam quidem nulla vel totam reiciendis ullam sed culpa. Sunt repellat maiores et.
 Exercitationem ut sed consequatur in ut et. Magni itaque consequuntur beatae voluptatem eveniet nobis. In perspiciatis commodi omnis rerum repellendus vel fuga quidem. Accusantium id mollitia. Accusantium autem sunt qui tempore dignissimos dolor hic. Ea aut quia illo asperiores modi vel distinctio.
 Iusto officiis quaerat voluptas rerum iure voluptatem blanditiis ipsam. Ea facere in aspernatur cum veniam. Eveniet asperiores numquam quis ea adipisci debitis in veritatis dolorem. Et ullam alias sequi. Repellat eligendi occaecati aut quis quasi. Reprehenderit quia dicta aperiam dicta.</p>
    </div>
  </li>
  
</ol>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

