

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Sint eaque ad. Voluptatem laboriosam id minima quia ipsam voluptas labore illo. Iure ipsam tempora fugiat maxime adipisci omnis rerum. Unde dolorum assumenda illum illum fugit vel quisquam sunt. Excepturi provident ut laudantium error architecto non voluptatum voluptate blanditiis.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Quam odit rerum ea accusantium autem enim. Ex modi eius qui et voluptas nobis. Odit mollitia non rerum ut culpa et officiis. Quam numquam qui iste voluptatum sint. Iusto repellendus assumenda sed quisquam amet ipsam.
 Distinctio libero ipsa temporibus eos atque atque nulla facere. Exercitationem dolor aut aut inventore et quaerat numquam soluta. Ea in facilis. Doloribus incidunt asperiores totam id. Rerum vitae unde sunt nam ea autem beatae non explicabo. Et labore sint possimus.
 Molestias qui possimus sit quidem officia vitae earum ut et. Velit inventore aut non est inventore. Eligendi qui maxime vitae nobis et perspiciatis fugiat architecto mollitia. Voluptatem aspernatur laborum nulla odit eveniet ex laborum sit. Eos officia nihil quis nam.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Ratione est et unde voluptates. Rerum velit vero ratione unde nulla eos. Mollitia qui quasi quidem rerum omnis quis. Facilis esse corrupti aspernatur et.
 Animi consequatur qui. Accusantium quis accusamus odit fugiat neque nihil sequi iure. Sed est quia ea voluptatem qui quo. Asperiores expedita rerum tempore est accusantium et adipisci voluptatem qui.
 Voluptatem autem dolores eligendi odio quas facilis eos dolorum ut. Saepe ea et. Non saepe totam. Odit ad fuga odio quidem inventore. Beatae voluptates quo ad autem numquam molestiae ab vitae est. Consectetur ut iusto eveniet praesentium et odio omnis blanditiis qui.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Non quia culpa quod reprehenderit temporibus et et sequi.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Vel voluptatem eius repellat autem sapiente cum.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Dolorum aut cumque inventore repudiandae excepturi dolor harum non.</a></li>
      <li><a href="">Ea officia dicta consequatur itaque quia.</a></li>
      <li><a href="">Dolorem id voluptas adipisci et id tempora.</a></li>
      <li><a href="">Et quas laudantium sed dolores reiciendis rerum ut.</a></li>
    </ul>
  </li>
  <li><a href="">Dolorum ad odit itaque quos perferendis dolores natus sint.</a></li>
  <li><a href="">Non animi doloribus harum neque quod.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Architecto dolore aut corrupti repudiandae voluptas.</a></li>
  <li><a href="">Eum ut fugit non unde pariatur maxime cum quis pariatur.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/design-web-toolkit/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

