

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <section>
  <p class="u-md-hidden u-lg-hidden u-padding-r-all u-text-m u-background-grey-20">
    <span class="Icon-list u-text-r-xl u-alignMiddle u-padding-r-right" aria-hidden="true"></span>
    <a href="#subnav" class="js-scrollTo u-text-r-s u-textClean u-color-grey-50 u-alignMiddle">
      Esplora contenuti correlati
    </a>
  </p>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-bottom u-padding-r-top">
    <nav aria-label="sei qui:" role="navigation">
  <ul class="Breadcrumb">
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">Home</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="/">pagina interna</a></li>
    <li class="Breadcrumb-item"><a class="Breadcrumb-link u-color-50" href="#main">pagina corrente</a></li>
  </ul>
</nav>

  </div>

  <div class="u-layout-wide u-layoutCenter u-layout-withGutter u-padding-r-top u-padding-bottom-xxl">

    <h1 class="u-text-h2">
      Nome del servizio
    </h1>

    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size8of12 u-lg-size8of12">
        <article class="Prose u-layout-prose">
          <p>
            Una breve descrizione del servizio. Ut aperiam facere. Possimus tempore doloremque voluptatum voluptas tempora quidem qui odit eveniet. Sit libero earum laudantium in blanditiis maxime qui esse temporibus. Error consequatur atque. Aut qui numquam in voluptates tempora qui.
          </p>
          <p>
            Questo servizio serve per:
          </p>
          <ul>
            <li>fare qualcosa</li>
            <li>verificare lo stato della propria pratica</li>
          </ul>
          <h2 class="u-text-h3">A chi è rivolto</h2>
          <p>
            Qui officia rerum nulla aut aut quod accusamus magni perspiciatis. Necessitatibus quia voluptatibus saepe esse ut veritatis deleniti ut. Reiciendis aut eveniet corrupti sunt.
 Dicta neque consequatur sint dolores iure ut atque. Qui eius itaque. Quasi qui in optio rem officiis recusandae. Saepe autem aut non aut ut provident. Voluptas reiciendis eveniet reiciendis aut corrupti delectus molestiae.
 Architecto similique iste sit voluptas harum non qui nemo. Ut est sit asperiores architecto minus voluptatem. Quo autem ratione.
          </p>
          <h2 class="u-text-h3">Come funziona</h2>
          <p>
            Eaque dolores accusamus libero. Quia blanditiis voluptatibus soluta iste omnis recusandae magnam repellat incidunt. Aut non quo eius quia quia sequi. Culpa voluptate suscipit odit minima non facilis.
 Eligendi consequatur corrupti. Veritatis nobis voluptates aut. Aut enim recusandae laborum omnis. Possimus in et eligendi cum. Consequatur molestiae quibusdam qui non veniam voluptates et saepe. Possimus sed iure a.
 Maxime sunt velit repudiandae. Quia est ipsa voluptas. Iusto incidunt aut.
          </p>
          <h2 class="u-text-h3">Prima di iniziare</h2>
          <p>
            Accertati di aver già...
            <ul>
              <li>azione 1</li>
              <li>azione 2</li>
              <li>azione 3</li>
            </ul>
          </p>
          <p>
            <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
          </p>
        </article>
      </div>

      <aside class="Grid-cell u-md-size4of12 u-lg-size4of12">
        <div class="u-cf u-padding-bottom-xxl u-hidden u-md-block u-lg-block">
          <button type="button" class="Button Button--default u-text-r-xs">Accedi al servizio</button>
        </div>
        <h3 class="u-text-h4">Altri servizi</h3>
        <div class="u-sizeFull" id="subnav">
          <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Quia vel totam provident voluptates.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Quisquam sint excepturi officiis voluptatibus architecto accusantium ut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Aut aut dicta dicta dolorem non reprehenderit non quasi minima.</a></li>
      <li><a href="">Facilis sint et illo id reiciendis molestias nesciunt.</a></li>
      <li><a href="">Necessitatibus voluptas itaque.</a></li>
      <li><a href="">Nihil ad et inventore.</a></li>
    </ul>
  </li>
  <li><a href="">Minus error sit debitis velit.</a></li>
  <li><a href="">Qui quae et dicta minima dicta et magni.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Est soluta natus repudiandae sapiente iusto quis consectetur sint voluptatem.</a></li>
  <li><a href="">Perspiciatis soluta quam.</a></li>
</ul>

        </div>
        <a href="#" title="torna all'inizio del contenuto" class="u-hiddenVisually">torna all'inizio del contenuto</a>
      </aside>
    </div>

  </div>
</section>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

