

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
  <li>
    <a class="Linklist-link Linklist-link--lev1" href="">Doloremque omnis consequatur eum facilis distinctio quia saepe exercitationem quo.</a>
  </li>
  <li><a class="Linklist-link Linklist-link--lev2 is-expanded" href="">Animi quo error quo aut.</a>
    <ul>
      <li><a href="" class="Linklist-link Linklist-link--lev3">Ea sed iste.</a></li>
      <li><a href="">Sit tenetur voluptatum.</a></li>
      <li><a href="">Vel laborum ipsum molestiae hic.</a></li>
      <li><a href="">Suscipit dolor facilis voluptatem voluptatem quas hic delectus quisquam excepturi.</a></li>
    </ul>
  </li>
  <li><a href="">Aperiam sint dolores esse sit omnis.</a></li>
  <li><a href="">Non corporis voluptate minus reprehenderit eaque assumenda modi tenetur.</a></li>
  <li><a href="" class="Linklist-link is-collapsed">Fugiat consectetur dolorem optio consequatur natus a quasi error incidunt.</a></li>
  <li><a href="">Corrupti omnis doloremque voluptatem officia et porro.</a></li>
</ul>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

