

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Rerum eum omnis<br>Illum minima voluptatum
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Illum minima voluptatum</a>
            <ul>
              <li><a href="/1">Eum sapiente cum</a></li>
              <li><a href="/2">Animi dolores quis</a></li>
              <li><a href="/3">Sunt placeat ipsam</a></li>
              <li><a href="/4">Ducimus laboriosam fugit</a></li>
            </ul>
          </li>
          <li><a href="">Vero repellat aliquam</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Commodi non officiis</a>
            <ul>
              <li><a href="/1">Reprehenderit non sunt</a></li>
              <li><a href="/2">Distinctio saepe vitae</a></li>
              <li><a href="/3">Rerum eum omnis</a></li>
              <li><a href="/4">Illum minima voluptatum</a></li>
            </ul>
          </li>
          <li><a href="">Eum sapiente cum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Animi dolores quis</a>
            <ul>
              <li><a href="/1">Sunt placeat ipsam</a></li>
              <li><a href="/2">Ducimus laboriosam fugit</a></li>
              <li><a href="/3">Vero repellat aliquam</a></li>
              <li><a href="/4">Commodi non officiis</a></li>
            </ul>
          </li>
          <li><a href="">Reprehenderit non sunt</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Distinctio saepe vitae</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Rerum eum omnis</a></li>
          <li><a href="/2">Illum minima voluptatum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Eum sapiente cum</a></li>
          <li><a href="/2">Animi dolores quis</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Sunt placeat ipsam</a></li>
          <li><a href="/2">Ducimus laboriosam fugit</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Vero repellat aliquam</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Commodi non officiis</a></li>
          <li><a href="/2">Reprehenderit non sunt</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Distinctio saepe vitae</a></li>
          <li><a href="/2">Rerum eum omnis</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Illum minima voluptatum</a></li>
          <li><a href="/2">Eum sapiente cum</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

