

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <nav class="Megamenu Megamenu--default js-megamenu ">
  <ul class="Megamenu-list">
    <li class="Megamenu-item">
      <a href="#">
        Dolorem voluptas est<br>Soluta provident et
      </a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/">Soluta provident et</a>
            <ul>
              <li><a href="/1">Eveniet iure aut</a></li>
              <li><a href="/2">Recusandae perspiciatis nostrum</a></li>
              <li><a href="/3">Illo facilis sit</a></li>
              <li><a href="/4">Est odit sed</a></li>
            </ul>
          </li>
          <li><a href="">Velit amet id</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Exercitationem saepe ut</a>
            <ul>
              <li><a href="/1">Et in ipsam</a></li>
              <li><a href="/2">Ipsam eum perferendis</a></li>
              <li><a href="/3">Dolorem voluptas est</a></li>
              <li><a href="/4">Soluta provident et</a></li>
            </ul>
          </li>
          <li><a href="">Eveniet iure aut</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="">Recusandae perspiciatis nostrum</a>
            <ul>
              <li><a href="/1">Illo facilis sit</a></li>
              <li><a href="/2">Est odit sed</a></li>
              <li><a href="/3">Velit amet id</a></li>
              <li><a href="/4">Exercitationem saepe ut</a></li>
            </ul>
          </li>
          <li><a href="">Et in ipsam</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Ipsam eum perferendis</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Dolorem voluptas est</a></li>
          <li><a href="/2">Soluta provident et</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Eveniet iure aut</a></li>
          <li><a href="/2">Recusandae perspiciatis nostrum</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Illo facilis sit</a></li>
          <li><a href="/2">Est odit sed</a></li>
        </ul>
      </div>
    </li>
    <li class="Megamenu-item">
      <a href="#">Velit amet id</a>
      <div class="Megamenu-subnav u-jsDisplayNone">
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Exercitationem saepe ut</a></li>
          <li><a href="/2">Et in ipsam</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Ipsam eum perferendis</a></li>
          <li><a href="/2">Dolorem voluptas est</a></li>
        </ul>
        <ul class="Megamenu-subnavGroup">
          <li><a href="/1">Soluta provident et</a></li>
          <li><a href="/2">Eveniet iure aut</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

