

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>

  <title>Preview Layout</title>
</head>

<body class="t-Pac">

  <div class="Prose u-layout-prose u-padding-all-xxl">
  <p>
    Accusantium enim sequi doloribus eligendi doloremque qui beatae exercitationem sapiente. Non amet quis quis delectus doloribus sequi nam omnis odio. Ipsa temporibus enim incidunt ea laudantium et. Nostrum ut non. Animi veniam dolore numquam.
 Asperiores harum nemo fugit quisquam dolores. Consequatur porro pariatur temporibus dolorem voluptates distinctio maxime. Totam sit saepe maxime assumenda veritatis.
 Saepe non voluptatem pariatur omnis. Eligendi libero eligendi sed et aut omnis amet error accusamus. Molestiae aut eos repellat laborum id et aperiam magni. Maiores pariatur veritatis cumque. Culpa deleniti et nostrum quos omnis. Numquam nostrum et harum optio voluptatum dolorum saepe expedita molestiae.
      <a href="#tooltip" class="Tooltip-toggle u-textClean u-padding-right-xs u-padding-left-xs
        u-background-teal-50 u-color-black" data-menu-trigger="tooltip">minus</a>
      <span id="tooltip" data-menu class="Dropdown-menu u-borderShadow-m u-background-teal-70 u-color-white u-layout-prose
        u-padding-r-all u-borderRadius-l">
        <span class="Icon-drop-down Dropdown-arrow u-color-teal-70"></span>
        <span class="u-layout-prose u-text-r-xs">
          Repellendus iste ullam quam et aperiam voluptatem totam. Et velit vel et ad esse aut dolor consectetur. Dolorum corporis ratione quae saepe reiciendis ut ratione eos. Eum voluptates at similique ea eum aliquam voluptas magnam quia. Delectus nihil eaque molestiae odit mollitia itaque. Quasi deleniti praesentium.
 Et necessitatibus velit assumenda sunt beatae vel qui sequi eaque. Tempore qui tempora pariatur odio et voluptas itaque repudiandae. Similique eum tenetur beatae aspernatur. Sapiente quaerat minus quia dignissimos qui cupiditate. Repellat tempore sunt aperiam quaerat nesciunt dignissimos est. Aut aut velit voluptates rerum ut non cumque.
 Ea aliquid reiciendis fugit magnam in nihil iste. Ab quam eligendi sed necessitatibus ullam facilis. Deleniti ducimus omnis id ipsa repudiandae excepturi harum delectus. In sapiente impedit corrupti sit accusamus neque porro eligendi. Similique ipsam dolores quia voluptatem voluptatem est incidunt cupiditate et.
        </span>
      </span>
    Totam praesentium quibusdam asperiores expedita ut. Recusandae voluptas voluptas id. Facilis aut amet rem quis omnis quos.
  </p>
</div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  
  <script>__PUBLIC_PATH__ = '../../build/'</script>

  <script src="../../build/IWT.min.js"></script>

</body>
</html>

